{% extends 'clinic/crm_dentalclinic.html' %}


{% block body %}
<div class="row main-content">
    <div class="col-lg-3 col-md-3" id="left-pattern" style="background: #FFFFFF;">
        <div class="row"  >
            <div class="row profile">
                <form style="width: 100%;">
                    <div id="search-form" class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="Search name or phone number">
                    </div>
                </form>
            </div>
            <nav id="appointment-list" class="nav flex-column">
                {% for customer in lstCusToday%}
                    {% if forloop.counter == 1 %}
                    <a class="nav-link active" href="#" name="{{customer.customer_id}}">
                    {% else %}
                    <a class="nav-link" href="#"  name="{{customer.customer_id}}">
                    {% endif %}
                        <span style="float: left;">
                            <b>{{customer.customer_name}}</b><br/>
                            <p style="margin-bottom: 0;">{{customer.customer_phone_number}}</p>
                        </span>
                        <span style="float: right;text-align: right;">
                            <b>{{customer.appointment_time}}</b>
                            {% if customer.appointment_status == constant_key.APPOINTMENT_STATUS_PENDING_PAYMENT%}
                                <p class="status-pendingpayment">
                                    Pending payment
                               </p>
                            {% elif customer.appointment_status == constant_key.APPOINTMENT_STATUS_ACTIVE%}
                                <p class="status-active">
                                   Active
                                </p>
                            {% elif customer.appointment_status == constant_key.APPOINTMENT_STATUS_CHECKED%}
                                <p class="status-checked">
                                   Checked
                                </p>
                            {% elif customer.appointment_status == constant_key.APPOINTMENT_STATUS_ON_WAY%}
                                <p class="status-onway">
                                   On way
                                </p>
                            {% elif customer.appointment_status == constant_key.APPOINTMENT_STATUS_BOOKED%}
                                <p class="status-booked">
                                   Booked
                                </p>
                            {% elif customer.appointment_status == constant_key.APPOINTMENT_STATUS_FOLLOW%}
                                <p class="status-follow">
                                   Booked
                                </p>
                            {% else %}
                                <p class="status-done">
                                   Done
                                </p>
                            {% endif %}
                        </span>
                    </a>
                {% endfor %}
                <!-- <a class="nav-link" href="#">
                    <span style="float: left;">
                        <b>Ms. Cao Kỳ Duyên</b><br/>
                        <p style="margin-bottom: 0;">0123 456 789</p>
                    </span>
                    <span style="float: right;text-align: right;">
                        <b>12:03</b>
                        <p style="margin-bottom: 0;color: #5cb85c;">On way</p>
                    </span>
                </a> -->
            </nav>
            <script type="text/javascript">
                $("#appointment-list a").on("click", function(){
                   $("#appointment-list").find(".active").removeClass("active");
                   $(this).addClass("active");
                });

                $("#appointment-list a").on("click", function(){
                    $.ajax({
                        url: 'get_appointment_schedule/',
                        data: {
                            'customer_id': this.name
                        },
                        dataType: 'html',
                        success: function (data) {
                                document.getElementById("lstAppointment-body").innerHTML = data
                            }
                    });
                });
            </script>
        </div>
    </div>
    <div class="col-lg-9 col-md-9" id="right-pattern">
        <div class="row schedule">
            <div class="col-lg-6 col-md-6" style="margin-top: 10px;">
                <b>Patient Appointment Schedule</b>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row" style="height: 35px;">
                    <div class="col-lg-1 col-md-1">
                        <a class="btn btn-primary" href="#">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-lg-10 col-md-6">
                        <select class="form-control" style="display: inline; height: 35px;">
                            <option>This treatment (default)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row list">
            <table class="table table-striped" style="margin-top: -1px;">
                <thead>
                    <tr>
                        <th scope="col">Appointment date</th>
                        <th scope="col">Doctor</th>
                        <th scope="col">Treatment name</th>
                        <th scope="col">Task list</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="lstAppointment-body">
                    {% for item in lstAppointment %}
                        <tr>
                            <td>{{item.date}} {{item.time}}</td>
                            <td>{{item.assign_name}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.content}}</td>
                            <td>{{item.note}}</td>
                            <td>
                                {% if item.status == constant_key.APPOINTMENT_STATUS_ACTIVE and user_role != constant_key.ROLE_RECEPTION %}
                                    <a class="btn btn-primary" href="">Done</a>
                                    <!-- <a class="btn btn-light" href="">Edit</a> -->
                                {% elif item.status == constant_key.APPOINTMENT_STATUS_ACTIVE %}
                                    <a class="btn btn-primary" href="">View</a>
                                {% elif item.status == constant_key.APPOINTMENT_STATUS_CHECKED and user_role == constant_key.ROLE_RECEPTION %}
                                    <a class="btn btn-primary" href="">View</a>
                                {% elif item.status == constant_key.APPOINTMENT_STATUS_CHECKED%}
                                    <a class="btn btn-primary" href="">Active</a>
                                    <a class="btn btn-primary" href="">View</a>
                                {% elif item.status == constant_key.APPOINTMENT_STATUS_ON_WAY%}
                                    <a class="btn btn-primary" href="">Checked</a>
                                    <a class="btn btn-primary" href="">Edit</a>
                                {% elif item.status == constant_key.APPOINTMENT_STATUS_BOOKED%}
                                    <a class="btn btn-primary" href="">On way</a>
                                    <a class="btn btn-primary" href="">Edit</a>
                                {% elif item.status == constant_key.APPOINTMENT_STATUS_FOLLOW %}
                                    <a class="btn btn-primary" href="">Confirm</a>
                                {% elif item.status == constant_key.APPOINTMENT_STATUS_DONE %}
                                    <a class="btn btn-primary" href="">View</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <!-- <tr>
                        <td>10/10/2017 12:00</td>
                        <td>Ngoc Anh</td>
                        <td>Implant X</td>
                        <td>1.1,1.2,1.3</td>
                        <td>-</td>
                        <td>
                            <a class="btn btn-light" href="">Done</a>
                            <a class="btn btn-light" href="">Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td>10/10/2017 12:00</td>
                        <td>Ngoc Anh</td>
                        <td>Cleaning with flour</td>
                        <td>1.1,1.2,1.3</td>
                        <td>-</td>
                        <td>
                            <a class="btn btn-primary" href="">Onway</a>
                            <a class="btn btn-primary" href="">Edit</a>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}