{% extends 'clinic/crm_dentalclinic.html' %}


{% block body %}
{% csrf_token %}
<div class="row main-content">
    <div class="col-lg-3 col-md-3 col-sm-3" id="left-pattern" style="background: #FFFFFF;">
        <div class="row"  >
            <div class="row sidebar-header">
                <div class="col-lg-2 col-md-2 col-sm-2" id="patient-avatar">
                    <img src="images/user_avatar.png" style="padding-top: 15px;">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8" style="margin-top: 10px; white-space: nowrap; max-width: 350px; overflow: hidden; text-overflow: ellipsis;">
                   <span><strong style="margin-top: 15px;">{{treatment_info.customer_name}}</strong></span><br/>
                   <p>{{treatment_info.treatment_name}}</p>
                </div>
            </div>
            <nav class="nav flex-column sidebar-detail" id="list-of-function">
                <a class="nav-link active" name="Medical-History/" >
                   <i class="fa fa-heart" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;Prehistory & Medical History <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="nav-link" name="Clinical/">
                   <i class="fa fa-certificate" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;&nbsp;Clinical Examination <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="nav-link" name="Diagnosis/">
                   <i class="fa fa-line-chart" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;Dental Diagnosis<i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="nav-link" name="Treatment-Plan/">
                   <i class="fa fa-puzzle-piece" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;Treatment Plan<i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="nav-link" name="Invoices/">
                   <i class="fa fa-file" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;&nbsp;Invoices <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="nav-link" name="Prescripion/">
                   <i class="fa fa-medkit" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;&nbsp;Prescription <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="nav-link" name="Document&Data-Storage/">
                   <i class="fa fa-database" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;&nbsp;Document & Data storage <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="nav-link" name="Appointment-Schedule/">
                    <i class="fa fa-calendar" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;&nbsp;Appointment Schedule <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <!-- Để cân nhắc làm sau vì trùng với các tab khác
                <a class="nav-link" href="#">
                   <i class="fa fa-info-circle" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;&nbsp;Personal information <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a> -->
            </nav>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9" style="border-left: 1px solid #dfdfdf;" id="patient-content">
        <div id="left-content">
            {% include 'clinic/crm_dentalclinic_patient_med.html' %}
        </div>
    </div>
</div>
<script type="text/javascript">

    $("#list-of-function a").on("click", function(event){
        $("#list-of-function").find(".active").removeClass("active");
        $(this).addClass("active");

        $.ajax({
            type: 'POST',
            url: this.name,
            data: {
                'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
            },
            dataType: 'html',
            // async: false,
            success: function (data) {
                    $("#left-content").html(data)
                }
        });
        event.preventDefault();
    });
</script>
{% endblock %}