        <div class="modal-header">
            <h5 class="modal-title">
                <strong style="color: tomato;">
                    {% if view_modal_mode == constant_key.VIEW_MODAL_MODE_TREATMENT %} Treatment {% else %} Appointment {% endif %} for {{main_info.customer_name}}
                </strong>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6 col-md-6" id="modal-this-input-lc">
                    <div class="row">
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-puzzle-piece"></i></div>
                            <input type="text" class="form-control" style="" value="{{main_info.name}}"  disabled="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <select class="form-control custom-select" id="exampleFormControlSelect1">
                                {% for item in lst_user %}
                                    {% if item.user_id == main_info.assign_id %}
                                        <option selected>{{item.user_name}}</option>
                                    {% else %}
                                        <option>{{item.user_name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            <select class="form-control custom-select" id="exampleFormControlSelect1">
                               <option>{{main_info.date}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            <select class="form-control custom-select" id="exampleFormControlSelect1">
                               <option {% if main_info.time < "13:00" %} selected {% endif %}>Morning</option>
                               <option {% if main_info.time >= "13:00" and main_info.time < "18:00"  %} selected {% endif %}>Afternoon</option>
                               <option {% if main_info.time >= "18:00" %} selected {% endif %}>Evening</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-responsive" border="1" id="table1" style="border:1px solid #333; margin-bottom: 5px;">
                            <tr>
                                <td style="height: 50px;" rel="1"></td>
                                <td style="height: 50px;" rel="2"></td>
                                <td style="height: 50px;" rel="3"></td>
                                <td style="height: 50px;" rel="4"></td>
                                <td style="height: 50px;" rel="5"></td>
                                <td style="height: 50px;" rel="6"></td>
                                <td style="height: 50px;" rel="7"></td>
                                <td style="height: 50px;" rel="8"></td>
                                <td style="height: 50px;" rel="9"></td>
                                <td style="height: 50px;" rel="10"></td>
                                <td style="height: 50px;" rel="11"></td>
                                <td style="height: 50px;" rel="12"></td>
                                <td style="height: 50px;" rel="13"></td>
                                <td style="height: 50px;" rel="14"></td>
                                <td style="height: 50px;" rel="15"></td>
                                <td style="height: 50px;" rel="16"></td>
                                <td style="height: 50px;" rel="17"></td>
                                <td style="height: 50px;" rel="18"></td>
                                <td style="height: 50px;" rel="19"></td>
                                <td style="height: 50px;" rel="20"></td>
                            </tr>
                        </table>
                        <div style="font-size: 14px;margin:5px 0;">
                            <p>001&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;002</p>
                        </div>
                        <table class="table table-responsive" border="1" id="table2" style="border:1px solid #333; margin-bottom: 5px;">
                            <tr>
                                <td style="height: 50px;" rel="1"></td>
                                <td style="height: 50px;" rel="2"></td>
                                <td style="height: 50px;" rel="3"></td>
                                <td style="height: 50px;" rel="4"></td>
                                <td style="height: 50px;" rel="5"></td>
                                <td style="height: 50px;" rel="6"></td>
                                <td style="height: 50px;" rel="7"></td>
                                <td style="height: 50px;" rel="8"></td>
                                <td style="height: 50px;" rel="9"></td>
                                <td style="height: 50px;" rel="10"></td>
                                <td style="height: 50px;" rel="11"></td>
                                <td style="height: 50px;" rel="12"></td>
                                <td style="height: 50px;" rel="13"></td>
                                <td style="height: 50px;" rel="14"></td>
                                <td style="height: 50px;" rel="15"></td>
                                <td style="height: 50px;" rel="16"></td>
                                <td style="height: 50px;" rel="17"></td>
                                <td style="height: 50px;" rel="18"></td>
                                <td style="height: 50px;" rel="19"></td>
                                <td style="height: 50px;" rel="20"></td>
                            </tr>
                        </table>
                        <div style="font-size: 14px;margin:5px 0;">
                            <p>8am.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9am.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10am.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11am.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12am.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" id="modal-this-input-rc">
                    <div class="row">
                        <span style="margin: 10px auto;">Choose the tasks you attend to do in this appointment:</span>
                    </div>
                    <div class="row">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">No.</th>
                                    <!-- <th scope="col">After</th> -->
                                    <th scope="col">At date</th>
                                    <!-- <th scope="col">Position</th> -->
                                    <th scope="col">Tasks</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in lst_treatmentdetail %}
                                    {% if view_modal_mode == constant_key.VIEW_MODAL_MODE_TREATMENT or view_modal_mode == constant_key.VIEW_MODAL_MODE_APPOINTMENT and item.treatmentdetail_id in appointmentdetails %}
                                        <tr class="focus">
                                    {% else %}
                                        <tr class="fuzzy">
                                    {% endif %}
                                        <td>
                                            {% if item.treatmentdetail_status == constant_key.TREATMENT_STATUS_DONE %}
                                                <label class="form-check-label" style="margin-bottom: 20px;">
                                                    <input type="checkbox" class="form-check-input" checked>
                                                </label>
                                            {% else %}
                                                <label class="form-check-label" style="margin-bottom: 20px;">
                                                    <input type="checkbox" class="form-check-input">
                                                </label>
                                            {% endif %}
                                        </td>
                                        <td style="vertical-align: middle;text-align: center;">{{item.treatmentdetail_no}}</td>
                                        <!-- <td style="vertical-align: middle;text-align: center;">-</td> -->
                                        <td style="vertical-align: middle;text-align: center;">{{item.treatmentdetail_date}}</td>
                                        <!-- <td style="vertical-align: middle;text-align: center;">41</td> -->
                                        <td style="vertical-align: middle;width:40%;">
                                          {{item.treatmentdetail_content}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if view_modal_mode == constant_key.VIEW_MODAL_MODE_TREATMENT %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        {% else %}
            <div class="container" style="margin-bottom: 20px;">
                <textarea class="form-control" placeholder="Write your note.."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        {% endif %}
