<table class="table table-striped" style="margin-top: -1px;">
    <thead>
        <tr>
            <th scope="col">Appointment date</th>
            <th scope="col">Doctor</th>
            <th scope="col">Treatment name</th>
            <th scope="col">Task list</th>
            <th scope="col">Notes</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in lstAppointment %}
            <tr>
                <td>{{item.date}} {{item.time}}</td>
                <td>{{item.assign_name}}</td>
                <td>
                    <input type="hidden" class="treatment-id" value="{{item.treatment_id}}">
                    <input type="hidden" class="treatmentdetail-date" value="{{item.date}}">
                    <input type="hidden" class="data-type" value="{{item.data_type}}">
                    {{item.name}}
                </td>
                <td>{{item.content}}</td>
                <td>{{item.note}}</td>
                <td>
                    {% if item.status == constant_key.APPOINTMENT_STATUS_ACTIVE and user_role != constant_key.ROLE_RECEPTION %}
                        <a class="abtn btn btn-primary" href="" data-toggle="modal" data-target="#omni-dental-patient-app-modal-edit">Done</a>
                        <!-- <a class="btn btn-light" href="">Edit</a> -->
                    {% elif item.status == constant_key.APPOINTMENT_STATUS_ACTIVE %}
                        <a class="abtn btn btn-primary" href="" data-toggle="modal" data-target="#omni-dental-patient-app-modal-edit">View</a>
                    {% elif item.status == constant_key.APPOINTMENT_STATUS_CHECKED and user_role == constant_key.ROLE_RECEPTION %}
                        <a class="abtn btn btn-primary" href="" data-toggle="modal" data-target="#omni-dental-patient-app-modal-edit">View</a>
                    {% elif item.status == constant_key.APPOINTMENT_STATUS_CHECKED%}
                        <a class="abtn btn btn-primary" href="" data-toggle="modal" data-target="#omni-dental-patient-app-modal-edit">Active</a>
                        <a class="abtn btn btn-primary" href="" data-toggle="modal" data-target="#omni-dental-patient-app-modal-edit">View</a>
                    {% elif item.status == constant_key.APPOINTMENT_STATUS_ON_WAY%}
                        <a class="abtn btn btn-primary" href="" data-toggle="modal" data-target="#omni-dental-patient-app-modal-edit">Checked</a>
                        <a class="abtn btn btn-primary" href="" data-toggle="modal" data-target="#omni-dental-patient-app-modal-edit">Edit</a>
                    {% elif item.status == constant_key.APPOINTMENT_STATUS_BOOKED%}
                        <a class="abtn btn btn-primary" href="" data-toggle="modal" data-target="#omni-dental-patient-app-modal-edit">On way</a>
                        <a class="abtn btn btn-primary" href="" data-toggle="modal" data-target="#omni-dental-patient-app-modal-edit">Edit</a>
                    {% elif item.status == constant_key.APPOINTMENT_STATUS_FOLLOW %}
                        <a class="abtn btn btn-primary" href="" data-toggle="modal" data-target="#omni-dental-patient-app-modal-edit">Confirm</a>
                    {% elif item.status == constant_key.APPOINTMENT_STATUS_DONE %}
                        <a class="abtn btn btn-primary" href="" data-toggle="modal" data-target="#omni-dental-patient-app-modal-edit">View</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <!--- Patient Appointment schedule Modal Edit -->
<div class="modal" id="omni-dental-patient-app-modal-edit">
    <div class="modal-dialog" role="html">
        <div class="modal-content" id="modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% csrf_token %}
<script type="text/javascript">
    $(".abtn").click(function( event ) {
        event.preventDefault();

        $.ajax({
            type: 'POST',
            url: 'ajax-get-appointment-modal/',
            data: {
                'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
                'treatment_id': $(this).parent().parent().find(".treatment-id").val(),
                'treatmentdetail_date': $(this).parent().parent().find(".treatmentdetail-date").val(),
                'data_type': $(this).parent().parent().find(".data-type").val()
            },
            dataType: 'html',
            success: function (data) {
                    $('#modal-content').html(data)

                    // document.getElementById("lstAppointment").innerHTML = data
                }
        });



        // $('.modal-body').html("<p>dmmmmccccccccccccccccccccccccc</p>")
    });
</script>
