<div class="row content-header">
    <div class="col">
        <strong style="min-width: 50px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Prescripion (toa thuốc)</strong>
        <a class="btn btn-primary" data-toggle="modal" data-target="#omni-dental-patient-pre-modal-new" style="margin-left: 10px;">+ New</a>
    </div>
    <div class="col">
        <select class="form-control custom-select" style="display: inline;">
            <option>This treatment (default)</option>
            <option>All the treatments</option>
        </select>
    </div>
</div>
<div class="row content-detail">
    <table class="table table-responsive-md table-striped table-hover">
        <thead>
           <tr>
                <th style="padding-left: 10px; padding-right: 0; white-space: nowrap; max-width: 125px; overflow: hidden; text-overflow: ellipsis;">Appointment Date</th>
                <th style="padding-left: 0; padding-right: 0; white-space: nowrap; max-width: 80px; overflow: hidden; text-overflow: ellipsis;">Creator</th>
                <th style="padding-left: 0; padding-right: 0; white-space: nowrap; max-width: 80px; overflow: hidden; text-overflow: ellipsis;">Treatment</th>
                <th style="padding-left: 0; ">Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding-right: 0; width: 120px;">10/10/2017 12:00</td>
                <td style="padding-left: 0; padding-right: 0; white-space: nowrap; max-width: 80px; overflow: hidden; text-overflow: ellipsis;">Ngoc Anh (long text testing)</td>
                <td style="padding-left: 0; padding-right: 0; white-space: nowrap; max-width: 80px; overflow: hidden; text-overflow: ellipsis;"><a href=""> Implant X<a></td>
                <td style="padding-left: 0; padding-right: 0; white-space: nowrap; max-width: 350px; overflow: hidden; text-overflow: ellipsis;"> Đây là ghi chú của toa thuốc......</td>
                <td style="width: 100px;">
                    <a class="btn btn-primary" href="" style="width: 70px;" data-toggle="modal" data-target="#omni-dental-patient-pre-modal-edit">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="alert alert-info alert-dismissable" style="margin-bottom: 0px; margin-top: 20px;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Next update: v1.0.5: </strong>(1) In ra toa thuốc với giao diện riêng (2) Gửi plan qua email cho khách hàng<br/>
    </div>
</div>
<footer id="main-footer">
    <a>Cloud Dental CRM v.1.0.3 (alpha 1) @ 2017. All rights reserved.</a>
</footer>
<!--- Patient Prescription Modal New -->
<div class="modal fade" id="omni-dental-patient-pre-modal-new">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong style="color: tomato;">Create new prescription for Mr. Nguyen Quoc Anh</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <a class="navbar-brand" href="#" style="color: #2196f3"><strong>Nha khoa GTGT</strong></a><br/>
                    <span>Adr. 128h Pham Van Hai, P.2, Tan Binh</span><br/>
                    <a>Hotline: 0902.886.862 (Dr. Luong)</a><br/>
                    <p>At date: 11/11/2017 00:15 pm</p>
                </div>

                <div class="table">
                    <table class="table table-responsive-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="padding-left: 8px; min-width: 160px; max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    Drug name
                                </th>
                                <th style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Unit</th>
                                <th style="padding-left: 0px; min-width: 50px; max-width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Unit/times</th>
                                <th style="padding-left: 0px; min-width: 50px; max-width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Times/day</th>
                                <th style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Mode</th>
                                <th style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">At</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding-left: 8px; min-width: 160px; max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                        <input type="text" class="form-control" style="" placeholder="Klamentin 1 (auto complete)"></td>
                                <td style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;""><input type="text" class="form-control" style="" placeholder="Viên"></td>
                                <td style="padding-left: 0px; min-width: 50px; max-width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><input type="text" class="form-control" style="" placeholder="1"></td>
                                <td style="padding-left: 0px; min-width: 50px; max-width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><input type="text" class="form-control" style="" placeholder="1"></td>
                                <td style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><input type="text" class="form-control" style="" placeholder="Uống"></td>
                                <td style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;""><input type="text" class="form-control" style="" placeholder="Sau khi ăn"></td>
                                <td>
                                    <button type="button" class="close" data-dismiss="" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 8px; min-width: 160px; max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                        <input type="text" class="form-control" style="" placeholder="(Tự thêm dòng mới khi điền dữ liệu)"></td>
                                <td style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;""><input type="text" class="form-control" style="" placeholder="-"></td>
                                <td style="padding-left: 0px; min-width: 50px; max-width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><input type="text" class="form-control" style="" placeholder="-"></td>
                                <td style="padding-left: 0px; min-width: 50px; max-width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><input type="text" class="form-control" style="" placeholder="-"></td>
                                <td style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><input type="text" class="form-control" style="" placeholder="-"></td>
                                <td style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;""><input type="text" class="form-control" style="" placeholder="-"></td>
                                <td>
                                    <button type="button" class="close" data-dismiss="" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="email & print">
                    <form class="row">
                        <div class="col row form-group">
                            <label for="inputEmail3" class="col-sm-2 form-control-label">Send to email</label>
                            <div class="col-sm-10">
                                <div class="checkbox" active>
                                    <label>
                                        <input type="checkbox"> Yes (with default email)
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="ducthinh2012@gmail.com">
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Customer's email (ex: ducthinh2012@gmail.com)">
                            </div>
                        </div>
                        <div class="col row form-group">
                            <label class="col-sm-2">Print now?</label>
                            <div class="col-sm-10">
                                <div class="checkbox" active>
                                    <label>
                                        <input type="checkbox" checked=""> Yes (with default printer)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> -->
                <div class="notes">
                    <textarea class="form-control" placeholder="Write your note.."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--- Patient Appointment schedule Modal Edit -->
<div class="modal fade" id="omni-dental-patient-pre-modal-edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong style="color: tomato;">Edit prescription for Mr. Nguyen Quoc Anh</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <a class="navbar-brand" href="#" style="color: #2196f3"><strong>Nha khoa GTGT</strong></a><br/>
                    <span>Adr. 128h Pham Van Hai, P.2, Tan Binh</span><br/>
                    <a>Hotline: 0902.886.862 (Dr. Luong)</a><br/>
                    <p>Created by: Dr. Ngoc Anh - 11/11/2017 00:15 pm</p>
                </div>

                <div class="table">
                    <table class="table table-responsive-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="padding-left: 8px; min-width: 160px; max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    Drug name
                                </th>
                                <th style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Unit</th>
                                <th style="padding-left: 0px; min-width: 50px; max-width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Unit/times</th>
                                <th style="padding-left: 0px; min-width: 50px; max-width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Times/day</th>
                                <th style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Mode</th>
                                <th style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">At</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding-left: 8px; min-width: 160px; max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                        <input type="text" class="form-control" style="" placeholder="Klamentin 1 (auto complete)"></td>
                                <td style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;""><input type="text" class="form-control" style="" placeholder="Viên"></td>
                                <td style="padding-left: 0px; min-width: 50px; max-width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><input type="text" class="form-control" style="" placeholder="1"></td>
                                <td style="padding-left: 0px; min-width: 50px; max-width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><input type="text" class="form-control" style="" placeholder="1"></td>
                                <td style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><input type="text" class="form-control" style="" placeholder="Uống"></td>
                                <td style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;""><input type="text" class="form-control" style="" placeholder="Sau khi ăn"></td>
                                <td>
                                    <button type="button" class="close" data-dismiss="" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 8px; min-width: 160px; max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                        <input type="text" class="form-control" style="" placeholder="(Tự thêm dòng mới khi điền dữ liệu)"></td>
                                <td style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;""><input type="text" class="form-control" style="" placeholder="-"></td>
                                <td style="padding-left: 0px; min-width: 50px; max-width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><input type="text" class="form-control" style="" placeholder="-"></td>
                                <td style="padding-left: 0px; min-width: 50px; max-width: 60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><input type="text" class="form-control" style="" placeholder="-"></td>
                                <td style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><input type="text" class="form-control" style="" placeholder="-"></td>
                                <td style="padding-left: 0px; min-width: 60px; max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;""><input type="text" class="form-control" style="" placeholder="-"></td>
                                <td>
                                    <button type="button" class="close" data-dismiss="" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="email & print">
                    <form class="row">
                        <div class="col row form-group">
                            <label for="inputEmail3" class="col-sm-2 form-control-label">Send to email</label>
                            <div class="col-sm-10">
                                <div class="checkbox" active>
                                    <label>
                                        <input type="checkbox"> Yes (with default email)
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="ducthinh2012@gmail.com">
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Customer's email (ex: ducthinh2012@gmail.com)">
                            </div>
                        </div>
                        <div class="col row form-group">
                            <label class="col-sm-2">Print now?</label>
                            <div class="col-sm-10">
                                <div class="checkbox" active>
                                    <label>
                                        <input type="checkbox" checked=""> Yes (with default printer)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> -->
                <div class="notes">
                    <textarea class="form-control" placeholder="Write your note.."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->