/*This is CSS create by Soul - RAG Team */
/* My note
color: rgb(9, 79, 113);
 */

/*Quick makeup*/
.subtext{
    color: rgb(85, 85,85);
    margin: auto;
}
.subtext-lg{
    color: rgb(85, 85,85);
    margin: auto;
    font-size: 1rem !important;
}
.subhead{

}
.img-1{
    padding: 1rem 6rem;
}
.cl-dblue{
    color: rgb(9, 79, 113);
}
.cl-blue{
    color: #2196F3;
}
.cl-green{
    color:  #2EBD59;
}
.cl-yellow{
    color: #FFDA44;
}
.cl-viollet{
    color: #933EC5;
}
.cl-red{
    color: #D80027;
}
a{
    color: #2196F3;
}
a:hover{
    color: #007BFF;
}
z{
    font-size: 9px;
}

/*General makeup*/
body{
    font-size: 14px !important;
    font-weight: 400 !important;
    background-color: #fff;
    color: rgb(51, 51, 51);
}

/*Custome makeup */
.header{
    height: 50px;
    background-color: #2EBD59;
    padding: 15px 0px 15px 40px;
    margin: auto;
}
.bd-benefit{
    padding: 5rem 3rem 5rem 3rem;
}
.bd-introduction{
    background-color: #FFDA44;
    padding: 2rem 3rem;
    margin-top: 0px;
    margin: 0px;
}
.bd-feature{
    padding: 5rem 3rem 5rem 3rem;
}







