<!DOCTYPE html>
<html>
    <!-- Are you our competitor? Contact me to corperate-->
    <!-- Bạn là đối thủ cạnh tranh của chúng tôi, đừng ngần ngại liên hệ hợp tác: 0902 886 862 ^^ -->
    <head lang="vi">
        <!-- Meta tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <meta name="Description" content="Quản lý phòng khám nha khoa: Bệnh án điện tử, lịch hẹn thông minh, công nợ. Đặc biệt, tìm kiếm khách hàng tự động ngay cả khi bạn đang ngủ.">
        <meta name="keywords" content="phần mềm quản lý nha khoa, quan ly phong kham, dental crm, cloud dental crm 2018, phòng khám nha khoa">
        <meta name="google-site-verification" content="snyJf5QySb4tFfA_0Qz8kbCjFOqL2y6rZfZ0Mk-kRQY" />
        <meta name="robots" content="index,nofollow">
        <meta name="googlebot" content="index,follow" />
        <meta name="canonical" content="clouddentalcrm.com">
        <title>Phần mềm quản lý nha khoa Cloud Dental CRM v1.0.3 (2018)</title>
        <!--/.Meta tag -->
        <!-- Chèn thêm một đoạn code dữ liệu có cấu trúc nữa ở đây -->
        <!--/.Structure data -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="cdcrm-style.css">
    </head>
    <body class="bd-homepage">
        <header class="header">
            <div class="container">
                <div>
                    <a href="clouddentalcrm.com" style="color: #FFF;"><strong>Cloud Dental CRM</strong></a>
                    <span style="color: #FFF; font-size: 9px;">v1.0.5 (2018) _VietNam</span>
                    <!-- <span style="float: right; padding: 4px 25px; background-color: #FFF; margin-top: -6px; border-radius: 4px;">Đăng nhập
                    </span> -->
                    <a class="btn btn-ct-green" href="#" style="float: right; padding: 4px 25px; margin-top: -4px;">Đăng nhập</a>
                </div>
            </div>
        </header>
        <div class="bd-benefit">
            <div class="container-fluid">
                <h2 class="text-center cl-dblue">Thiết kế cho nha khoa trên toàn thế giới</h2>
                <p class="text-center subtext-lg" style="width: 80%; margin-bottom: : 2rem;">Phần mềm <span class="cl-green">Cloud Dental CRM</span> giúp quản lý phòng khám hiệu quả hơn 80% so với truyền thống. Dễ dàng sử dụng, dễ dàng quản lý mà không cần thuê đội ngũ công nghệ (I.T)</p>
                <div class="row">
                    <div class="col-md-4">
                        <img src="file:///Users/hoangducthinh/Documents/GitHub/Green/templates/thinh_template/CRM%20landing%20page/assets/img/py2.svg" alt="Chống thất thoát" class="img-fluid img-md-center">
                        <h4>Hiện đại nhất</h4>
                        <p>Từ 2018, hơn 90% công ty <span class="cl-green" ">công nghệ mới</span> ở Mỹ sử dụng ngôn ngữ lập trình Python để viết phần mềm. <strong>CD-CRM</strong> là phần mềm <a href="clouddentalcrm.com">quản lý nha khoa</a> đầu tiên ở châu Á viết bằng ngôn ngữ mới này.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="file:///Users/hoangducthinh/Documents/GitHub/Green/templates/thinh_template/CRM%20landing%20page/assets/img/candy2.svg" alt="Chống thất thoát" class="img-fluid img-md-center">
                        <h4>Dễ sử dụng</h4>
                        <p>Bất kỳ nha sỹ nào ở Việt Nam đều có thể <span class="cl-green"> sử dụng dễ dàng</span>, chỉ cần biết đánh máy tính căn bản.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="file:///Users/hoangducthinh/Documents/GitHub/Green/templates/thinh_template/CRM%20landing%20page/assets/img/shield2.svg" alt="Chống thất thoát" class="img-fluid img-md-center">
                        <h4>An toàn tuyệt đối</h4>
                        <p>Dữ liệu khi truyền lên internet sẽ được mã hoá theo công nghệ 256-bit SSL. <span class="cl-green">Lưu trữ an toàn trên đám mây (Cloud 2.0)</span> chống nhân viên, tin tặc lấy cắp dữ liệu. Đặc biệt, <span class="cl-red"> không bị mất dữ liệu</span> khi máy tính hư !</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bd-introduction">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="cl-white text-center"><i class="fa fa-heart" aria-hidden="true"></i> Yêu là thay đổi </h4>
                    <p style="color: #FCEDF2">Chúng tôi hiểu rằng bạn đã đầu tư rất nhiều thời gian, tiền bạc để xây dựng công việc kinh doanh thành công, nhưng làm sao để bảo vệ phòng khám nha khoa của bạn trước ảnh hưởng của cơn bão nhượng quyền <strong>chuỗi nha khoa</strong> & cuộc <strong>cách mạng công nghệ 4.0</strong> đang đến gần? Yêu phòng khám của mình, hãy đầu tư công nghệ mới ngay hôm nay để bảo vệ sự nghiệp của bạn _> </p>
                </div>
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="bd-feature">
            <div class="container-fluid">
                <h2 class="text-center cl-dblue">Những tính năng "huyền thoại"</h2>
                <p class="text-center subtext-lg" style="width: 80%">Trọn bộ 6 tính năng quan trọng nhất mà những phòng khám "chuẩn công nghệ 2018" sở hữu (Duy nhất phần mềm <strong>CD-CRM</strong> có). Nhanh chân lên, đi đầu luôn là lợi thế lớn</p>
            </div>
            <div class="row" style="margin-top: 2rem;">
                <div class="col-md-4">
                    <div>
                        <img src="file:///Users/hoangducthinh/Documents/GitHub/Green/templates/thinh_template/CRM%20landing%20page/assets/img/folder3.svg" class="img-fluid img-sm">
                        <h5 style="display: inline;">Quản lý bệnh án</h5>
                        <p>Tra cứu hồ sơ bệnh án điện tử nhanh hơn bệnh án thường gấp x20 lần. Lưu trữ mãi mãi không phai, ko sợ thất lạc.</p>
                    </div>
                    <div>
                        <img src="file:///Users/hoangducthinh/Documents/GitHub/Green/templates/thinh_template/CRM%20landing%20page/assets/img/group3.svg" class="img-fluid img-sm">
                        <h5 style="display: inline;">Giao tiếp đa kênh</h5>
                        <p>Bác sỹ có thể tư vấn (chat) với khách hàng từ xa. Tiếp tân có thể "chat" với bác sỹ, quản lý & chăm sóc khách hàng (free)</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img src="file:///Users/hoangducthinh/Documents/GitHub/Green/templates/thinh_template/CRM%20landing%20page/assets/img/telephone-agenda3.svg" class="img-fluid img-sm">
                        <h5 style="display: inline;">Lịch hẹn thông minh</h5>
                        <p>Giúp sắp xếp thời gian biểu hợp lý. Nói không với chờ đợi, chồng chéo lịch hẹn làm khách hàng đi lại nhiều lần</p>
                    </div>
                    <div>
                        <img src="file:///Users/hoangducthinh/Documents/GitHub/Green/templates/thinh_template/CRM%20landing%20page/assets/img/progression3.svg" class="img-fluid img-sm">
                        <h5 style="display: inline;">Tự kiếm khách hàng</h5>
                        <p>Tính năng mạnh mẽ này giúp phòng khám của bạn có thêm khách hàng một cách tự động ngay cả khi bạn đang ngủ !</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img src="file:///Users/hoangducthinh/Documents/GitHub/Green/templates/thinh_template/CRM%20landing%20page/assets/img/give-money3.svg" class="img-fluid img-sm">
                        <h5 style="display: inline;">Quản lý công nợ</h5>
                        <p>Quản lý dòng tiền vào, tiền ra một cách khoa học, chính xác. Xem báo cáo lời, lỗ theo từng thời điểm mong muốn.</p>
                    </div>
                    <div>
                        <img src="file:///Users/hoangducthinh/Documents/GitHub/Green/templates/thinh_template/CRM%20landing%20page/assets/img/premium-badge3.svg" class="img-fluid img-sm">
                        <h5 style="display: inline;">Tư vấn độc quyền</h5>
                        <p>Tư vấn về các chương trình đào tạo chuyên môn RHM quốc tế, thiết kế phòng nha & phân tích nội/ngoại lực định kỳ chuyên sâu</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bd-price">
            <div class="row container-fluid top-part">
                <h4 class="cl-white text-center" style="margin: 1rem auto;">Tiêu chuẩn quốc tế, giá cả Việt Nam</h4>
                <p class="cl-white text-center subtext-lg" style="width: 80%; margin-bottom: 2rem;">Thay vì đầu tư hàng chục nghìn USD để mua một giải pháp CNTT hoàn thiện cho phòng khám nha khoa. Giờ đây bạn có thể sắm một sản phẩm quốc tế với giá chỉ dành cho Việt Nam *</p>
            </div>
            <div class="bot-part">
                <div class="row container">
                    <div class="pricing-table">
                        <div class="pricing-container fRight">1</div>
                        <div class="pricing-container fRignt">2</div>
                        <div class="pricing-container fRight">3</div>
                    </div>
                </div>
            </div>
        </div>
    </body>








        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="js/script.js"></script>
        <script src="https://use.fontawesome.com/8acd7bac45.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </body>
</html>