/*This is CSS for sale-landing-page*/
body{
    font-size: 13px !important;
    font-weight: 400;
}
a{
    font-size: 13px !important;
    font-weight: 400;
}
p{
    font-size: 13px !important;
    font-weight: 400;
}
z{
    font-size: 8px;
}
