<!DOCTYPE html>
<html>
    <head lang="vi,en">
        <!-- Meta tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
        <title>Cloud Clinic ERP v1.0.1 (2018) - Services | Dental Room</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/catchme.css">
    </head>
    <body class="body">
        <div class="header">
            <a href="services-dental.html">
                <div class="brand">
                    <i class="fa fa-angle-left" style="margin-right: 1rem"></i>
                    Back |::
                    <strong>Services <img src="assets/img/service-2.svg" class="img-sm-center" style="display: inline-block;">
                    </strong>
                </div>
            </a>
        </div>
        <div class="clear"></div>
        <div class="second-menu">
            <div class="part dib">
                <img src="assets/img/avatar-2.svg" class="img-md m-0">
                <a class="ell-max200" href="#customer.service">Chu Yến Vân (26)</a>
                <a class="treatment-name ell-max200 dib">Basic Service</a>
            </div>
            <div class="part float-right dkt">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="dental-medical-history.html" class="nav-link active">Medical History</a>
                    </li>
                    <li class="nav-item">
                        <a href="dental-exam-and-diagnosis.html" class="nav-link">Exam & Diagnosis</a>
                    </li>
                    <li class="nav-item">
                        <a href="dental-treatment-blank.html" class="nav-link">Treatment</a>
                    </li>
                    <li class="nav-item">
                        <a href="dental-pres.html" class="nav-link">Prescription</a>
                    </li>
                    <li class="nav-item">
                        <a href="dental-storage.html" class="nav-link">Storage</a>
                    </li>
                </ul>
            </div>
            <div class="part float-right mbl db">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="dental-medical-history.html" class="nav-link active"><i class="fa fa-heart"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="dental-exam-and-diagnosis.html" class="nav-link"><i class="fa fa-line-chart"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="dental-treatment.html" class="nav-link"><i class="fa fa-calendar-check-o"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="dental-pres.html" class="nav-link"><i class="fa fa-medkit"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="dental-storage.html" class="nav-link"><i class="fa fa-database"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="welcome-mess form-group" style="margin-top: 5rem;">
            <p class="subtext-500-center" style="max-width: 90%; margin: auto; padding: 1rem" >Hãy chọn tập tin hình ảnh từ máy của bạn để bắt đầu tải lên</p>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" style="margin: auto">
        </div>
    </div>
    <div class="footer">
        <div class="line"></div>
        © 2018 - Cloud Clinic ERP _version 1.0.1 (South East Asia)
        <span style="float: right">
            Support: <i class="fa fa-question-circle cl-blue" data-toggle="tooltip" data-placement="top" title="If you have trouble in operation / process / commerce or contract, please contact to 0902.886.862 (Henry - Thịnh). For technical problems such as 'bug, crash, machine stop working...' please contact 0906.858.628 (Jos - Hiến)"></i>  0902.886.862 - 0906.858.628
        </span>
    </div>
    <!-- <div class="screen-lock">
        <img src="assets/img/shield.svg" class="img-md-center">
    </div> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <!-- <script src="js/fb-comments.js"></script> -->
    <script src="https://use.fontawesome.com/8acd7bac45.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </body>
</html>