<!DOCTYPE html>
<html>
    <head lang="vi,en">
        <!-- Meta tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
        <title>Cloud Clinic ERP v1.0.1 (2018) - Services | Dental Room</title>
        <!--/.Structure data -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/catchme.css">
    </head>
    <body class="body">
        <!-- Xem như đã bỏ qua màn hình đăng nhập -->
        <div class="header">
            <a href="index.html">
                <div class="brand">
                    <i class="fa fa-angle-left" style="margin-right: 1rem"></i>
                    Back |::
                    <strong>Services <img src="assets/img/service-2.svg" class="img-sm-center" style="display: inline-block;"></strong>
                </div>
            </a>
            <div class="user-panel">
                <a href="http://gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                <a href="http://m.me" target="_blank"><i class="fa fa-telegram"></i></a>
                <a href="#messenger"><i class="fa fa-bell"></i></a>
                <a href="#user" style="margin-left: 1rem">
                    <img src="assets/img/avatar.svg" class="img-md" style="margin: 0;">
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="second-menu">
            <div class="part">
                <ul class="nav nav-pills">
                    <li class="nav-item mr-1">
                        <a href="services-dental.html" class="nav-link active">Dental</a>
                    </li>
                    <li class="nav-item">
                        <a href="services-spa.html" class="nav-link">Spa</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="services-overview.html" class="nav-link">Over-view</a>
                    </li> -->
                </ul>
            </div>
            <div class="part float-right">
                <div class="title-area">
                    <select class="form-control custom-select">
                        <option>Today (default)</option>
                        <option>Last week</option>
                        <option>Last month</option>
                        <option>Previous 3 months</option>
                        <option>Previous 6 months</option>
                        <option>Previous 1 year</option>
                        <option>All times</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="treasury-table">
            <a href="medical-history.html"><b>treatment A</b></a>
        </div>
        <div class="standard dental-room">
            <div class="left-part">
                <div class="box msearch">
                    <div class="msearch-booking"></div>
                    <div class="msearch-contact"></div>
                    <div class="misearch-input"></div>
                </div>
                b4nav
            </div>
            <div class="right-part"></div>
        </div>
        </div>
        <div class="footer">
            <div class="line"></div>
            © 2018 - Cloud Clinic ERP _version 1.0.1 (South East Asia)
            <span style="float: right">
                Support: <i class="fa fa-question-circle blue" data-toggle="tooltip" data-placement="top" title="If you have trouble in operation / process / commerce or contract, please contact to 0902.886.862 (Henry - Thịnh). For technical problems such as 'bug, crash, machine stop working...' please contact 0906.858.628 (Jos - Hiến)"></i>  0902.886.862 - 0906.858.628
            </span>
        </div>
        <!-- <div class="screen-lock">
            <img src="assets/img/shield.svg" class="img-md-center">
        </div> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <script src="https://use.fontawesome.com/8acd7bac45.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </body>
</html>