<!DOCTYPE html>
<html>
    <!-- Are you our competitor? Contact me to corperate-->
    <!-- Bạn là đối thủ cạnh tranh của chúng tôi, đừng ngần ngại liên hệ hợp tác: 0902 886 862 ^^ -->
    <head lang="vi,en">
        <!-- Meta tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
        <meta name="Description" content="...">
        <meta name="keywords" content="...">
        <meta name="google-site-verification" content="..." />
        <meta name="robots" content="index,nofollow">
        <meta name="googlebot" content="index,follow" />
        <meta name="canonical" content="">
        <title>Cloud Clinic ERP v1.0.1 (2018) - Treasury : Liabilities</title>
        <!--/.Meta tag -->
        <!-- Chèn thêm một đoạn code dữ liệu có cấu trúc nữa ở đây -->
        <!--/.Structure data -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/catchme.css">
    </head>
    <body class="body">
        <!-- Xem như đã bỏ qua màn hình đăng nhập -->
        <div class="header">
            <a href="index.html"><div class="brand"><i class="fa fa-angle-left" style="margin-right: 1rem"></i> Back |:: <strong>Treasury</strong> <img src="assets/img/changing-money-2.svg" class="img-sm-center" style="display: inline-block;"></div></a>
            <div class="user-panel">
                <a href="http://gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                <a href="http://m.me" target="_blank"><i class="fa fa-telegram"></i></a>
                <a href="#messenger"><i class="fa fa-bell"></i></a>
                <a href="#user" style="margin-left: 1rem">
                    <img src="assets/img/avatar.svg" class="img-md" style="margin: 0;">
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="second-menu">
            <div class="part left-part">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="treasury-receivables.html" class="nav-link">Receivables</a>
                    </li>
                    <li class="nav-item">
                        <a href="treasury-liabilities.html" class="nav-link active">Liabilities</a>
                    </li>
                    <li class="nav-item">
                        <a href="treasury-account.html" class="nav-link">Management</a>
                    </li>
                </ul>
            </div>
            <div class="part right-part">
                <div class="dib tag-area">
                    <strong>Expenses:</strong><span>&nbsp;250,000 <sup>vnđ</sup></span>
                </div>
                <div class="dib">
                    <select class="form-control custom-select">
                        <option>Today (default)</option>
                        <option>This week</option>
                        <option>This month</option>
                        <option>Previous 3 months</option>
                        <option>Previous 6 months</option>
                        <option>Previous 1 year</option>
                        <option>All times</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="announcement">
            <div class="alert alert-warning alert-dismissable fade show" style="margin-bottom: 0px;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Hướng dẫn: </strong>Lưu giữ chứng từ cẩn thận vào các folder giấy để tìm lại khi quyết toán thuế
            </div>
        </div>
        <div class="clear"></div>
        <div class="treasury-table">
            <div class="table-list">
                <table class="table table-responsive table-striped table-hover" style="border-bottom: 1px solid #dfdfdf">
                    <thead>
                       <tr>
                            <th class="ell-8" style="min-width: 80px; max-width: 90px;">Voucher #</th>
                            <th class="ell-0" style="min-width: 80px; max-width: 90px;">Amount</th>
                            <th class="ell-0" style="min-width: 100px; max-width: 150px;">Record date/time</th>
                            <th class="ell-0" style="min-width: 80px; max-width: 90px;">Attached </th>
                            <th class="ell-0" style="min-width: 100px; max-width: 150px;">Created by</th>
                            <th class="ell-0" style="min-width: 100px; max-width: 150px;">Pay for</th>
                            <th class="ell-0" style="min-width: 100px; max-width: 150px;">Act by</th>
                            <th class="ell-0" style="min-width: 100px; max-width: 150px;">Deduction Acc</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="ell-8" style="min-width: 80px; max-width: 90px;">PV-00001</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 90px;">50,000 <sup>vnđ</sup></td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">08/11/2017 11:45</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 90px;"><a href="#" title="link toi FOLDER image">File upload</a></td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">Accountant</td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">Supplier</td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">Treasurier</td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">Account name</td>
                            <td><a class="btn my-btn-outline w-130" href="" data-toggle="modal" data-target="#mymodal" >Record payment</a></td>
                        </tr>
                        <tr>
                            <td class="ell-8" style="min-width: 80px; max-width: 90px;">PV-00002</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 90px;">200,000 <sup>vnđ</sup></td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">08/11/2017 11:45</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 90px;"><a href="#" title="link toi FOLDER image">Hoá đơn bán lẻ</a></td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">Kế Toán A</td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">Lab Ngọc Lan</td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">Phương Thảo</td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">ACB</td>
                            <td><a class="btn my-btn-outline-secondary w-130" href="invoice-2.html" target="_blank" >View</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="split-page">
            <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="line"></div>
        © 2018 - Cloud Clinic ERP _version 1.0.1 (South East Asia)
        <span style="float: right">
            Support: <i class="fa fa-question-circle green" data-toggle="tooltip" data-placement="top" title="If you have trouble in operation / process / commerce or contract, please contact to 0902.886.862 (Henry - Thịnh). For technical problems such as 'bug, crash, machine stop working...' please contact 0906.858.628 (Jos - Hiến)"></i>  0902.886.862 - 0906.858.628
        </span>
    </div>
    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title green" id="exampleModalLabel" >Record Payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="part">
                        <a data-toggle="collapse" href="#show-part-5" class="tag-area" style="display: block;"><strong>Payment information</strong><i class="fa fa-angle-up"></i></a>
                            <div id="show-part-5">
                            <span class="title red">Payment voucher code *</span>
                            <div class="input-group" data-toggle="tooltip" title="Payment voucher code">
                                <div class="input-group-addon"><i class="fa fa-code"></i></div>
                                <input type="text" class="form-control" style="" placeholder="PV-00001" disabled>
                            </div>
                            <span class="title">Your deduction account *</span>
                            <div class="input-group" data-toggle="tooltip" title="Deduction account name" >
                                <div class="input-group-addon"><i class="fa fa-credit-card"></i></div>
                                <select class="form-control custom-select" data-style="btn-primary">
                                    <option value="1">Bank-00002 [Vietcombank (VND)][Phuong Thao]</option>
                                    <option value="2">Cash-00001 [Quỹ tiền mặt (VND)][Phuong Thao]</option>
                                </select>
                            </div>
                            <span class="title">Amount (Just number, no space) *</span>
                            <div class="input-group" data-toggle="tooltip" title="Amount of payment">
                                <div class="input-group-addon"><i class="fa fa-code"></i></div>
                                <input type="text" class="form-control" style="" placeholder="Maximum 1,200,000 Ex: 100000">
                            </div>
                            <div class="input-group mt-2" data-toggle="tooltip" title="Amount in words">
                                <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                <input type="text" class="form-control" style="" placeholder="Một trăm nghìn đồng chẵn" disabled="">
                            </div>
                            <span class="title">Transfer Fee (if have, just number, no space) </span>
                            <div class="input-group" data-toggle="tooltip" title="Transfer fee (if have)">
                                <div class="input-group-addon"><i class="fa fa-code"></i></div>
                                <input type="text" class="form-control" style="" placeholder="Ex: 3,000">
                            </div>
                            <div class="input-group mt-2" data-toggle="tooltip" title="Amount in words">
                                <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                <input type="text" class="form-control" style="" placeholder="Ba nghìn đồng chẵn" disabled="">
                            </div>
                            <span class="title">Your supplier *</span>
                            <div class="input-group" data-toggle="tooltip" title="Pay for [Supplier's name]">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <select class="form-control custom-select">
                                    <option value="1">Điện Lực TP HCM</option>
                                    <option value="2">Lab Ngoc Lan</option>
                                </select>
                            </div>
                            <span class="title">Reference number</span>
                            <div class="input-group" data-toggle="tooltip" title="The number of invoices, contract, credit agreement number,...(separated by comma)">
                                <div class="input-group-addon"><i class="fa fa-code"></i></div>
                                <input type="text" class="form-control" style="" placeholder="Ex: PE04000211425" >
                            </div>
                        </div>
                    </div>
                    <div class="part">
                        <a data-toggle="collapse" href="#show-part-7" class="tag-area db"><strong>Addition information</strong><i class="fa fa-angle-up"></i></a>
                        <div id="show-part-7">
                            <span class="title">Write your note (short, clear, number)</span>
                            <textarea class="form-control" placeholder="..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary w-80" data-dismiss="modal">Close</button>
                    <button type="button" class="btn my-btn-shift w-150">DO IT !</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    <!-- <div class="screen-lock">
        <img src="assets/img/shield.svg" class="img-md-center">
    </div> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <!-- <script src="js/fb-comments.js"></script> -->
    <script src="https://use.fontawesome.com/8acd7bac45.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </body>
</html>