<!DOCTYPE html>
<html>
    <!-- Are you our competitor? Contact me to corperate-->
    <!-- Bạn là đối thủ cạnh tranh của chúng tôi, đừng ngần ngại liên hệ hợp tác: 0902 886 862 ^^ -->
    <head lang="vi,en">
        <!-- Meta tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
        <meta name="Description" content="...">
        <meta name="keywords" content="...">
        <meta name="google-site-verification" content="..." />
        <meta name="robots" content="index,nofollow">
        <meta name="googlebot" content="index,follow" />
        <meta name="canonical" content="">
        <title>Cloud Clinic ERP v1.0.1 (2018) - Treasury : Receivables</title>
        <!--/.Meta tag -->
        <!-- Chèn thêm một đoạn code dữ liệu có cấu trúc nữa ở đây -->
        <!--/.Structure data -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/catchme.css">
    </head>
    <body class="body">
        <!-- Xem như đã bỏ qua màn hình đăng nhập -->
        <div class="header">
            <a href="index.html"><div class="brand"><i class="fa fa-angle-left" style="margin-right: 1rem"></i> Back |:: <strong>Treasury</strong> <img src="assets/img/changing-money-2.svg" class="img-sm-center" style="display: inline-block;"></div></a>
            <div class="user-panel">
                <a href="http://gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                <a href="http://m.me" target="_blank"><i class="fa fa-telegram"></i></a>
                <a href="#messenger"><i class="fa fa-bell"></i></a>
                <a href="#user" style="margin-left: 1rem">
                    <img src="assets/img/avatar.svg" class="img-md" style="margin: 0;">
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="second-menu">
            <div class="part left-part">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="treasury-receivables.html" class="nav-link active">Receivables</a>
                    </li>
                    <li class="nav-item">
                        <a href="treasury-liabilities.html" class="nav-link">Liabilities</a>
                    </li>
                    <li class="nav-item">
                        <a href="treasury-account.html" class="nav-link">Account Management</a>
                    </li>
                </ul>
            </div>
            <div class="part right-part">
                <div class="filter show-revenue">
                    <strong>Revenues:</strong><span>&nbsp;900,000 <sup>vnđ</sup></span>
                </div>
                <div class="filter">
                    <select class="form-control custom-select">
                        <option>Today (default)</option>
                        <option>This week</option>
                        <option>This month</option>
                        <option>Previous 3 months</option>
                        <option>Previous 6 months</option>
                        <option>Previous 1 year</option>
                        <option>All times</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="announcement">
            <div class="alert alert-warning alert-dismissable fade show" style="margin-bottom: 0px;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Hướng dẫn: </strong>Hoá đơn có dấu * là hoá đơn chưa thanh toán hết
            </div>
        </div>
        <div class="clear"></div>
        <div class="treasury-table">
            <div class="table-list">
                <table class="table table-responsive table-striped table-hover" style="border-bottom: 1px solid #dfdfdf">
                    <thead>
                       <tr>
                            <th class="ell-8" style="min-width: 80px; max-width: 90px;">Voucher #</th>
                            <th class="ell-0" style="min-width: 80px; max-width: 90px;">Amount</th>
                            <th class="ell-0" style="min-width: 100px; max-width: 100px;">Record date/time</th>
                            <th class="ell-0" style="min-width: 80px; max-width: 90px;">Invoice #</th>
                            <th class="ell-0" style="min-width: 100px; max-width: 150px;">Paid by</th>
                            <th class="ell-0" style="min-width: 80px; max-width: 150px;">Received Acc</th>
                            <th class="ell-0" style="min-width: 100px; max-width: 150px;">Act by</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="ell-8" style="min-width: 80px; max-width: 90px;">RV-00005</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 90px;">300,000 <sup>vnđ</sup></td>
                            <td class="ell-0" style="min-width: 100px; max-width: 100px;">-</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 90px;"><a href=""> INV-00001</a></td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">Ngô Bảo Châu</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 150px;">-</td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">-</td>
                            <td><a class="btn btn-outline-success" href="" style="width: 130px;" data-toggle="modal" data-target="#modal-receivables" >Record payment</a></td>
                        </tr>
                        <tr>
                            <td class="ell-8" style="min-width: 80px; max-width: 90px;">RV-00002</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 90px;">300,000 <sup>vnđ</sup></td>
                            <td class="ell-0" style="min-width: 100px; max-width: 100px;">08/11/2017 11:45</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 90px;"><a href=""> INV-00002</a></td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">Ngô Bảo Châu</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 150px;">Quỹ tiền mặt</td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">Em tên Chi</td>
                            <td><a class="btn btn-outline-secondary disabled" href="" style="width: 130px;" data-toggle="modal" data-target="#modal-receivables" >Ver 1.0.4</a></td>
                        </tr>
                        <tr>
                            <td class="ell-8" style="min-width: 80px; max-width: 90px;">RV-00001</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 90px;">300,000 <sup>vnđ</sup></td>
                            <td class="ell-0" style="min-width: 100px; max-width: 100px;">08/11/2017 11:45</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 90px;"><a href=""> INV-00001 *</a></td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">Ngô Bảo Châu</td>
                            <td class="ell-0" style="min-width: 80px; max-width: 150px;">Quỹ tiền mặt</td>
                            <td class="ell-0" style="min-width: 100px; max-width: 150px;">Em tên Chi</td>
                            <td><a class="btn btn-outline-secondary disabled" href="" style="width: 130px;" data-toggle="modal" data-target="#modal-receivables">Ver 1.0.4</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="split-page">
            <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="line"></div>
        © 2018 - Cloud Clinic ERP _version 1.0.1 (South East Asia)
        <span style="float: right">
            Support: <i class="fa fa-question-circle cl-blue" data-toggle="tooltip" data-placement="top" title="If you have trouble in operation / process / commerce or contract, please contact to 0902.886.862 (Henry - Thịnh). For technical problems such as 'bug, crash, machine stop working...' please contact 0906.858.628 (Jos - Hiến)"></i>  0902.886.862 - 0906.858.628
        </span>
    </div>
        <!-- <div class="screen-lock">
            <img src="assets/img/shield.svg" class="img-md-center">
        </div> -->
    <div class="modal" id="modal-receivables">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">Create new <strong>payment record</strong></h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <div class="row container-fluid">
                            <div class="col-lg-6 col-md-6 col-sm-6" id="modal-body-lc">
                                <div class="row" style="background-color: #d1ecf1; border-left: 6px solid #0c5460; padding: 10px; color: #0c5460">
                                    <span>Payment information</span>
                                </div>
                                <div class="row">
                                    <div class="input-group mb-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fa fa-code"></i></div>
                                        <input type="text" class="form-control" style="" placeholder="RV-00005" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group mb-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                        <input type="text" class="form-control" placeholder="300,000                                                 (vnđ)" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group mb-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fa fa-code"></i></div>
                                        <input type="text" class="form-control" style="" placeholder="Ngô Bảo Châu" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group mb-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fa fa-credit-card"></i></div>
                                        <select class="form-control custom-select" >
                                        <option selected>Receiving account? *</option>
                                        <option value="1">Cash-00001 (Xuân tiểu thư)</option>
                                        <option value="2">Not permited</option>
                                        <option value="3">Chỉ được thu tiền vào TK mình qly (acc manager)</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6" id="modal-body-rc">
                                <div class="row" style="background-color: #d1ecf1; border-left: 6px solid #0c5460; padding: 10px; color: #0c5460">
                                    <span>E-invoice</span>
                                </div>
                                <div class="row">
                                    <div class="input-group mb-2 mb-sm-0">
                                        <div class="input-group-addon"><i class="fa fa-code"></i></div>
                                        <input type="text" class="form-control" placeholder="Enter email to receive E-invoice">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container" style="width: 90%">
                            <textarea class="form-control" placeholder="Write your note.."></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <!-- <script src="js/fb-comments.js"></script> -->
    <script src="https://use.fontawesome.com/8acd7bac45.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </body>
</html>