/*
This CSS for internal projects of rocketagegroup.com
Feel Free to use it
We are proud of making global awesome product from Saigon (Peace of South East Asia) - VietNam
*/

/*// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/


/* ----------- Quick color ----------- */
/*Color:
Blue: 2196F3;
naviblue: #094F71;
Green: #2EBD59; - #69BF83;
Orange: #F37338;
Yellow: #FFDA44; #FFBF00;
Violet: #933EC5;
Red: #D80027;
Secondary: #868E96;
Line: #D6D6D6;
Light-grey: #364A4C; -hover: #A9CEDD;
Light-black: #0C0704; #696969 */

/* ----------- Quick make up ----------- */
.subtext{
    color: #555555;
    margin: auto;
}
.subtext-500{
    color: #555555;
    margin: auto;
    font-weight: 500;
}
.subtext-ita{
    color: #555555;
    margin: auto;
    font-style: italic;
}
.subtext-500ita{
    color: #555555;
    margin: auto;
    font-weight: 500;
    font-style: italic;
}
.img-sm{
    height: 1rem;
    width: auto;
    margin: 0 0.2rem;
}
.img-md{
    height: 2rem;
    width: auto;
    margin: 0 0.2rem;
}
.img-lg{
    height: 5rem;
    width: auto;
    margin: 0 0.2rem;
}
.img-sm-center{
    height: 1rem;
    width: auto;
    margin: auto;
    display: block;
}
.img-md-center{
    height: 2rem;
    width: auto;
    margin: auto;
    display: block;
}
.img-lg-center{
    height: 5rem;
    width: auto;
    margin: auto;
    display: block;
}
.bg-grey{
    background-color: #ECECEC;
}
.bg-white{
    background-color: #FFF;
}
.blue{
    color: #2196F3;
}
/*.dblue{
    color: #094F71;
}*/
.naviblue{
    color: #094F71;
}
.green{
    color: #2EBD59;
}
.pink{
    color: #FF457A;
}
.orange{
    color: #F37338;
}
.yellow{
    color: #FFDA44;
}
.violet{
    color: #933EC5;
}
.red{
    color: #D80027;
}
.scd{
    color: #868E96;
}
.line{
    width: 100%;
    border-bottom: : 1px solid #D6D6D6;
}
.lgrey{
    color: #364A4C;
}
.lgrey-hover{
    color: #A9CEDD;
}
.lblack{
    color: #0C0704;
}
.sub{
    color: #555555;
}
.clear{
    clear: both;
    content: "";
}
.pm-0{
    padding: 0px;
    margin: 0px;
}
.di{
    display: inline;
}
.db{
    display: block;
}
.dib{
    display: inline-block;
}
.w-50{
    width: 50px !important;
}
.w-80{
    width: 80px !important;
}
.w-100{
    width: 100px !important;
}
.w-130{
    width: 130px;
}
.w-150{
    width: 150px;
}
.w-200{
    width: 200px;
}
/* ----------- Ellipsis----------- */
.ell{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ell-max150{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ell-max200{
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ell-max250{
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ell-0{
    padding-left: 0px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ell-8{
    padding-left: 8px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* ----------- Your style ----------- */
.standard{
    vertical-align: middle !important;
}
a.dropdown-item:hover{
    color: #FFF;
    background-color: #2196F3;
}
.my-btn{
    color: #FFF !important;
    background-color: #69BF83;
}
.my-btn{
    color: #FFF !important;
    background-color: #69BF83;
}
.my-btn:hover{
    background-color: #2EBD59;
    color: #FFF;
}
.my-btn-outline:focus{
    box-shadow: 0 0 0 3px #FFDA44;
}
.my-btn-outline{
    background-color: #FFF;
    color: #2EBD59;
    border: 1px solid #2EBD59;
}
.my-btn-outline:hover{
    background-color: #2EBD59;
    color: #FFF;
}
.my-btn-outline:focus{
    box-shadow: 0 0 0 3px #2EBD59;
}
.my-btn-outline-danger{
    border: 1px solid #FF457A;
    background-color: #FFF;
    color: #FF457A !important;
}
.my-btn-outline-danger:hover{
    border: 1px solid #FFF;
    background-color: #FF457A;
    color: #FFF !important;
    border-radius: 4px;
}
.my-btn-outline-danger:focus{
    box-shadow: 0 0 0 3px rgba(220, 53, 69, .5)
}
.my-btn-blue{
    border: 1px solid #2196F3;
    background-color: #2196F3;
    color: #FFF !important;
}
.my-btn-blue:hover{
    border: 1px solid #3289C7;
    background-color: #3289C7;
    color: #FFF !important;
    border-radius: 4px;
}
.my-btn-blue:focus{
    box-shadow: 0 0 0 3px #2196F3;
}
.my-btn-outline-blue{
    border: 1px solid #2196F3;
    background-color: #FFF;
    color: #2196F3 !important;
}
.my-btn-outline-blue:hover{
    border: 1px solid #FFF;
    background-color: #2196F3;
    color: #FFF !important;
    border-radius: 4px;
}
.my-btn-outline-blue:focus{
    box-shadow: 0 0 0 3px #2196F3;
}
.my-btn-outline-secondary{
    border: 1px solid #868E96;
    background-color: #FFF;
    color: #868E96 !important;
}
.my-btn-outline-secondary:hover{
    background-color: #868E96;
    color: #FFF !important;
    border-radius: 4px;
}
.my-btn-outline-secondary:focus{
    box-shadow: 0 0 0 3px rgba(134, 142, 150, .5)
}
.input-group-addon{
    color: #FFF;
    background-color: #2EBD59;
}
.custom-select{
    border-color: #2EBD59;
    color: #555555;
}
.custom-select:focus{
    box-shadow: 0 0 0 3px #FFDA44;
    border-color: #FFDA44;
}
.input-group-addon{
    width: 2.6rem;
}
.input-group-addon i{
    margin: auto;
}
a{
    color: #69BF83;
}
a:hover{
    color: #2EBD59;
    text-decoration: none;
}
.s-active{
    background-color: #FFF;
    color: #2196F3;
    padding: 0 0.4rem !important;
    border-radius: 4px;
}
.s-checked{
    background-color: #FFF;
    color: #2EBD59;
    padding: 0 0.4rem !important;
    border-radius: 4px;
}
.s-onway{
    background-color: #FFF;
    color: #FFBF00;
    padding: 0 0.4rem !important;
    border-radius: 4px;
}
.s-booked{
    background-color: #FFF;
    color: #696969;
    padding: 0 0.4rem !important;
    border-radius: 4px;
}
.s-confirm{
    background-color: #FFF;
    color: #FF457A;
    padding: 0 0.4rem !important;
    border-radius: 4px;
}
/* ----------- quote */
.tag-line{
    border-left: 6px solid #2EBD59;
    padding: .5rem;
    padding-bottom: -.5rem;
    min-height: 35px !important;
}
.tag-area{
    color: #0C5460 !important;
    border-color: #BEE5EB;
    padding: .35rem .75rem;
    background-color: #D1ECF1;
    border-radius: 4px;
    height: 35px;
}
.tag-area i{
    float: right;
    vertical-align: middle;
    padding-left: 1rem;
    padding-top: .2rem;
}
.tag-area a{
    color: #0C5460;
}
/* ----------- modal */
    .modal-dialog{
        max-width: 840px;
    }
    .modal-md{
        max-width: 420px !important;
    }
    .modal-body{
        padding: 1rem .5rem;
        width: 100%;
    }
    .modal .top-part{
        width: 100%;
        padding: 1rem .5rem;
    }
    .modal thead{
        background-color: #2EBD59;
        color: #FFF;
    }
    .modal td, th{
        vertical-align: middle;
    }
    .modal-body .title{
        margin: .5rem 0 .25rem;
        display: block;
    }
    .modal-body .input-group:{
        box-shadow: 2px 2px 2px #FFDA44;
    }
    .modal-body .custom-select, .form-control{
        border-color: #69BF83;
        color: #555555;
    }
    .modal-body .form-control:focus{
        box-shadow: none;
        border-color: #FFDA44;
        border-left-color: #2EBD59;
    }
    .modal-body .input-group-addon, .custom-select{
        height: 35px !important;
    }
    .modal-body .form-control:disabled{
        border-color: #D6D6D6;
    }
    .modal-body textarea.form-control:focus{
        border-left-color: #FFDA44;
    }
    .modal-backdrop{
        opacity: 0.85 !important;
    }

/* ----------- @body */
.body{
        position: relative;
    }
/* ----------- @header */
    .header{
        height: 50px;
        background-color: #2EBD59;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
    }
    .header .user-panel a{
        color: #FFF;
    }
    .header .user-panel i{
        margin: 0 0.4rem;
    }
/* ----------- @second-menu at treatment*/
    .treatment-name{
        background-color: #FF457A;
        border-radius: 4px;
        padding: .2rem .4rem;
        color: #FFF !important;
        vertical-align: middle;
    }
/* ----------- @second-menu */
    .second-menu .part{
        padding: 0.6rem 0;
        display: inline-block; /*Lam hu menu*/
    }
    .second-menu .right-part{
        float: right;
    }
    .second-menu .nav-link{
        height: 30px;
        padding: 0.25rem 0.5rem;
    }
    .second-menu a.nav-link.active{
        background-color: #FFDA44;
        color: #555555;
    }
    .second-menu a.nav-link.active:hover{
        color: #555555;
    }
    .second-menu a.nav-link{
        color: #69BF83;
    }
    .second-menu a.nav-link:hover{
        color: #2EBD59;
    }
/* ----------- @3rd-menu */
    .title-area{
        display: inline-block;
        float: right;
    }
/* ----------- @feature */
    .feature .part:hover{
        border: 1px solid #2EBD59;
        box-shadow: 0 0.8rem 1rem #FF457A;
        transform: translateY(-0.3333rem);
    }/*
    .nav-item{
        margin: auto;
    }*/
    .feature .go{
        width: 101%;
        height: 40px;
        border: 1px solid #2EBD59;
        color: #2EBD59;
        position: absolute;
        bottom: 0;
        padding: 0.5rem 0;
        margin: -1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .feature i{
        color: #FFF;
    }
    .feature .go:hover{
        background-color: #2EBD59;
        color: #FFF;
    }
    .feature i:hover{
        color: #FFF;
    }
/* ----------- @treasury-table or table */
    table{
        border-bottom: 1px solid #D6D6D6 /*#DFDFDF*/;
    }
    .table-list{
        padding: auto;
    }
    .table-list thead{
        background: #2EBD59;
        color: #FFF;
    }
    .table-list td, th{
        vertical-align: middle;
    }
    .table-list td, th{
        height: 50px;
        padding: 0;
    }
    .table-list th{
        padding-right: 0px;
    }
    .table-list span{
        border: 1px solid #2EBD59;
        background-color: #FFF;
        padding: 0.4rem 1rem;
        border-radius: 4px;
    }
    .table-list a{
        color: #2EBD59;
    }
    .table-list a.btn.b{
        background-color: #FFF;
        border-color: #2EBD59;
    }
    .table-list a.btn.b:hover{
        background-color: #2EBD59;
        border-color: #2EBD59;
    }
/* ----------- @split-page */
    .split-page .page-link{
        color: #2EBD59;
        border-color: #2EBD59;
    }
    .split-page .page-item.active .page-link{
        background-color: #FFDA44;
        border-color: #FFDA44;
        color: #555555;
    }
/* ----------- @footer */
    .line{
        border: 1px solid #D6D6D6;
        margin-top: 3rem;
    }
/* ----------- @welcome-mess */
    .welcome-mess{
        padding: 0.5rem 3rem;
        text-align: center;
    }
/* ----------- @mdental room - search box*/
    .dental-room{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        overflow: hidden;
        border-radius: 4px;
    }
    .dental-room .box{
        margin: auto;
        height: 60px;
        border: 1px solid #D6D6D6;
    }
    .dental-room .part{
        padding: 0 .5rem;
    }
    .dental-room .left-part{
        width: 280px;
        margin-right: -.5rem;
        float: left;
    }
    .dental-room .right-part{
        overflow: hidden;
    }
    .dental-room .left-part a{
        display: block;
        width: 100%;
        border-top-color: #FFF !important;
    }
    .dental-room .msearch{
        margin: auto;
        height: 60px;
        border: 1px solid #D6D6D6;
        padding: .8rem .5rem 0;
        border-radius: 4px;
        border-color: #2EBD59;
        /*border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;*/
    }
    .form-control:focus{
        box-shadow: none;
        border-color: #FFDA44;
        border-left-color: #2EBD59;
    }
    .dental-room .left-part .sresult{
        padding: .4rem .5rem 0;
    }
    .dental-room .left-sresult{
        float: left;
    }
    .dental-room .right-sresult{
        float: right;
        text-align: right !important;
    }
    .dental-room .left-part p, b{
        margin: 0;
        padding: 0;
    }
    .dental-room .left-part a{
        color: #696969 !important;
    }
    .box.sresult:hover{
        color: #FFF !important;
        background-color: #2EBD59;
        border-color: #2EBD59;
    }

/* ----------- @Name of main class */
/* ----------- @Name of main class */

/* ----------- mHD screen ----------- */
@media screen and (min-width: 1600px){
    body{
        font-size: 15px !important;
        font-weight: 400 !important;
        background-color: #FFF;
        color: #555555;
    }
    a{
        font-size: 15px;
    }
    .btn{
        font-size: 14px;
    }
    .form-control{
        font-size: 14px;
    }
    .breadcrumb{
        font-size: 13px;
    }
    .breadcrumb a{
        font-size: 13px;
    }
    .mbl{
        display: none !important;
    }
    .header .brand{
        padding: 0.9rem .6rem 0 15rem;
        color: #FFF;
        display: inline-block;
    }
    .header .user-panel{
        float: right;
        padding: 0.6rem 15rem 0 0.6rem;
    }
    .feature{
        margin: auto;
        padding: 5rem 15rem;
        width: 100%;
        text-align: center;
    }
    .feature .part{
        max-width: 22%;
        width: 320px;
        height: 150px;
        float: left;
        border: 1px solid #D6D6D6;
        margin: 0.5rem;
        position: relative;
        padding-top: 0.5rem;
        border-radius: 4px;
    }
    .second-menu{
        margin: auto;
        padding: 0 15rem;
        width: 100%;
        display: inline-block;
    }
    .announcement{
        padding: 0.5rem 15rem;
    }
    .standard{
        padding: 0.2rem 15rem;
    }
    .treasury-table{
        padding: 0 15rem;
    }
    .dental-room{
        padding: 5rem 2rem;
        margin: 7rem 0;
    }
    .split-page{
        padding: 0.5rem 15rem;
        float: right;
    }
    .footer{
        padding: 0.5rem 15rem;
        margin: 10rem auto 0;
        width: 100%;
    }
    .modal-body .part{
        width: 50%;
        padding: .5rem;
        float: left;
        margin: auto;
    }
    .modal-body .part-2{
        width: 100%;
        padding: .5rem;
        float: left;
        margin: auto;
    }
}

/* ----------- large screen ----------- */
@media screen and (min-width: 1366px) and (max-width: 1599px){
    body{
        font-size: 15px !important;
        font-weight: 400 !important;
        background-color: #FFF;
        color: #555555;
    }
    a{
        font-size: 15px;
    }
    .mbl{
        display: none !important;
    }
    .btn{
        font-size: 14px;
    }
    .form-control{
        font-size: 14px;
    }
    .breadcrumb{
        font-size: 13px;
    }
    .breadcrumb a{
        font-size: 13px;
    }
    .header .brand{
        padding: 0.9rem .6rem 0 7rem;
        color: #FFF;
        display: inline-block;
    }
    .header .user-panel{
        float: right;
        padding: 0.6rem 7rem 0 0.6rem;
    }
    .feature{
        margin: auto;
        padding: 5rem 7rem;
        width: 100%;
        text-align: center;
    }
    .feature .part{
        max-width: 22%;
        width: 320px;
        height: 150px;
        float: left;
        border: 1px solid #D6D6D6;
        margin: 0.5rem;
        position: relative;
        padding-top: 0.5rem;
        border-radius: 4px;
    }
    .second-menu{
        margin: auto;
        padding: 0 7rem;
        width: 100%;
        display: inline-block;
    }
    .second-menu .part{
        padding: 0.6rem 0;
    }
    .announcement{
        padding: 0.5rem 7rem;
    }
    .standard{
        padding: 0.2rem 7rem;
    }
    .treasury-table{
        padding: 0 7rem;
    }
    .dental-room{
        padding: 2rem 1rem;
        margin: 3rem 0;
    }
    .split-page{
        padding: 0.5rem 7rem;
        float: right;
    }
    .footer{
        padding: 0.5rem 7rem;
        margin: 10rem auto 0;
        width: 100%;
    }
    .modal-body .part{
        width: 50%;
        padding: .5rem;
        float: left;
        margin: auto;
    }
    .modal-body .part-2{
        width: 100%;
        padding: .5rem;
        float: left;
        margin: auto;
    }
}

/* ----------- Popular desktop screen ----------- */
@media screen and (min-width: 768px) and (max-width: 1365px){
    body{
        font-size: 14px !important;
        font-weight: 400 !important;
        background-color: #FFF;
        color: #555555;
    }
    a{
        font-size: 14px;
    }
    .mbl{
        display: none !important;
    }
    .btn{
        font-size: 13px;
    }
    .form-control{
        font-size: 13px;
    }
    .breadcrumb{
        font-size: 12px;
    }
    .breadcrumb a{
        font-size: 12px;
    }
    .header .brand{
        padding: 0.9rem .6rem 0 3rem;
        color: #FFF;
        display: inline-block;
    }
    .header .user-panel{
        float: right;
        padding: 0.6rem 3rem 0 0.6rem;
    }
    .feature{
        margin: auto;
        padding: 5rem 3rem;
        width: 100%;
        text-align: center;
    }
    .feature .part{
        max-width: 22%;
        width: 320px;
        height: 150px;
        float: left;
        border: 1px solid #D6D6D6;
        margin: 0.5rem;
        position: relative;
        padding-top: 0.5rem;
        border-radius: 4px;
    }
    .second-menu{
        margin: auto;
        padding: 0 3rem;
        width: 100%;
        display: inline-block;
    }
    .announcement{
        padding: 0.5rem 3rem;
    }
    .standard{
        padding: 0.2rem 3rem;
    }
    .treasury-table{
        padding: 0 3rem;
    }
    .dental-room{
        padding: 1rem 0;
        margin: 2.5rem -2.5rem;
    }
    .split-page{
        padding: 0.5rem 3rem;
        float: right;
    }
    .footer{
        padding: 0.5rem 3rem;
        margin: 10rem auto 0;
        width: 100%;
    }
    .modal-body .part{
        width: 50%;
        padding: .5rem;
        float: left;
        margin: auto;
    }
    .modal-body .part-2{
        width: 100%;
        padding: .5rem;
        margin: auto;
    }
}

/* ----------- iphone 6+ đến ipad ----------- */
@media screen and (min-width: 480px) and (max-width: 767px){
    body{
        font-size: 13px !important;
        font-weight: 400 !important;
        background-color: #FFF;
        color: #555555;
    }
    a{
        font-size: 13px;
    }
    .dkt{
        display: none !important;
    }
    .btn{
        font-size: 11px !important;
    }
    .form-control{
        font-size: 12px;
    }
    .breadcrumb{
        font-size: 11px;
    }
    .breadcrumb a{
        font-size: 11px;
    }
    .header .brand{
        padding: 0.9rem .6rem 0 1.2rem;
        color: #FFF;
        display: inline-block;
    }
    .header .user-panel{
        float: right;
        padding: 0.6rem 1.2rem 0 0.6rem;
    }
    .feature{
        margin: auto;
        padding: 5rem 1.2rem;
        width: 100%;
        text-align: center;
    }
    .feature .part{
        max-width: 48%;
        width: 320px;
        height: 150px;
        float: left;
        border: 1px solid #D6D6D6;
        margin: 0.5rem;
        position: relative;
        padding-top: 0.5rem;
        border-radius: 4px;
    }
    .second-menu{
        margin: auto;
        padding: 0 1.2em;
        width: 100%;
        display: inline-block;
    }
    .announcement{
        padding: 0.5rem 1.2rem;
    }
    .standard{
        padding: 0.2rem 1.2rem;
    }
    .treasury-table{
        padding: 0 1.2rem;
    }
    .split-page{
        padding: 0.5rem 1.2rem;
        float: right;
    }
    .dental-room{
        padding: 1rem 0;
        margin: 2.5rem -.7rem;
    }
    .footer{
        padding: 0.5rem 1.2rem;
        margin: 10rem auto 0;
        width: 100%;
    }
    .modal-body .part{
        width: 75%;
        padding: .5rem;
        float: none;
        margin: auto;
    }
    .modal-body .part-2{
        width: 100%;
        padding: .5rem;
        margin: auto;
    }
}

/* ----------- Nhỏ hơn ip6+ ----------- */
@media screen and (max-width: 479px){
    body{
        font-size: 13px !important;
        font-weight: 400 !important;
        background-color: #FFF;
        color: #555555;
    }
    a{
        font-size: 13px;
    }
    .dkt{
        display: none !important;
    }
    .b
    .btn{
        font-size: 11px !important;
    }
    .form-control{
        font-size: 12px;
    }
    .breadcrumb{
        font-size: 11px;
    }
    .breadcrumb a{
        font-size: 11px;
    }
    .header .brand{
        padding: 0.9rem .6rem 0 .6rem;
        color: #FFF;
        display: inline-block;
    }
    .header .user-panel{
        float: right;
        padding: 0.6rem .6rem 0 0.6rem;
    }
    .feature{
        margin: auto;
        padding: 5rem .6rem;
        width: 100%;
        text-align: center;
    }
    .feature .part{
        max-width: 100%;
        width: 320px;
        height: 150px;
        float: left;
        border: 1px solid #D6D6D6;
        margin: 0.5rem;
        position: relative;
        padding-top: 0.5rem;
        border-radius: 4px;
    }
    .second-menu{
        margin: auto;
        padding: 0 .6rem;
        width: 100%;
        display: inline-block;
    }
    .announcement{
        padding: 0.5rem .6rem;
    }
    .standard{
        padding: 0.2rem .6rem;
    }
    .title-area{
        margin: 0.2rem 0;
        display: inline-block;
        float: right;
    }
    .treasury-table{
        padding: 0 .6rem;
    }
    .dental-room{
        padding: 1rem 0;
        margin: 1.5rem -.1rem;
    }
    .split-page{
        padding: 0.5rem .6rem;
        float: right;
    }
    .footer{
        padding: 0.5rem .6rem;
        margin: 10rem auto 0;
        width: 100%;
    }
    .modal-body .part{
        width: 100%;
        padding: .5rem;
        float: none;
        margin: auto;
    }
    .modal-body .part-2{
        width: 100%;
        padding: .5rem;
        margin: auto;
    }
}

/* End */

