/*
This CSS for internal projects of rocketagegroup.com
Feel Free to use it
We are proud of making awesome product from Saigon - vietnam
*/
/* Color:
Blue: 2196F3;
naviblue: #094F71;
Green: #2EBD59; - #8FBD9D;
Orange: #F37338;
Yellow: #FFDA44;
Violet: #933EC5;
Red: #D80027;
Secondary: #868E96;
Line: #D6D6D6;
Light-grey: #364A4C; -hover: #A9CEDD;
Light-black: #0C0704;
/*Quick makeup*/
.subtext{
    color: #555555;
    margin: auto;
}
.subtext-500{
    color: #555555;
    margin: auto;
    font-weight: 500;
}
.subtext-ita{
    color: #555555;
    margin: auto;
    font-style: italic;
}
.subtext-500ita{
    color: #555555;
    margin: auto;
    font-weight: 500;
    font-style: italic;
}
.img-sm{
    height: 1rem;
    width: auto;
    margin: 0 0.2rem;
}
.img-md{
    height: 2rem;
    width: auto;
    margin: 0 0.2rem;
}
.img-lg{
    height: 5rem;
    width: auto;
    margin: 0 0.2rem;
}
.img-sm-center{
    height: 1rem;
    width: auto;
    margin: auto;
    display: block;
}
.img-md-center{
    height: 2rem;
    width: auto;
    margin: auto;
    display: block;
}
.img-lg-center{
    height: 5rem;
    width: auto;
    margin: auto;
    display: block;
}
.blue{
    color: #2196F3;
}
/*.dblue{
    color: #094F71;
}*/
.naviblue{
    color: #094F71;
}
.green{
    color: #2EBD59;
}
.pink{
    color: #FF457A;
}
.orange{
    color: #F37338;
}
.yellow{
    color: #FFDA44;
}
.violet{
    color: #933EC5;
}
.red{
    color: #D80027;
}
.scd{
    color: #868E96;
}
.line{
    color: #D6D6D6;
}
.lgrey{
    color: #364A4C;
}
.lgrey-hover{
    color: #A9CEDD;
}
.lblack{
    color: #0C0704;
}
.sub{
    color: #555555;
}
.clear{
    clear: both;
    content: "";
}
.clear-pm{
    padding: 0px;
    margin: 0px;
}
.di{
    display: inline;
}
.db{
    display: block
}
.dib{
    display: inline-block;
}
/* Your style */
a.dropdown-item:hover{
    color: #FFF;
    background-color: #2196F3;
}
/*a:hover{
    padding: 0.2rem 0.6rem;
    color: #FFF;
    background-color: #2196F3;
    text-decoration: none;
    border-radius: 4px;
    margin: 0;
}*/
.btn{
    background-color: #FFF;
}
.btn-outline{
    background-color: #FFF;
}
.btn-blue{
    border: 1px solid #2196F3;
    background-color: #FFF;
    color: #2196F3;
}
.btn-blue:hover{
    border: 1px solid #FFF;
    background-color: #FFDA44;
    color: #555555;
    border-radius: 4px;
}
.btn-outline-danger{
    border: 1px solid #FF457A;
    background-color: #FFF;
    color: #FF457A !important;
}
.btn-outline-danger:hover{
    border: 1px solid #FFF;
    background-color: #FF457A;
    color: #FFF !important;
    border-radius: 4px;
}
.input-group-addon{
    color: #FFF;
    background-color: #2EBD59;
}
.custom-select{
    border-color: #FFDA44;
}
.custom-select:focus{
    border-color: #2EBD59;
}
a{
    color: #8FBD9D;
}
a:hover{
    color: #2EBD59;
    text-decoration: none;
}
.modal-dialog {
    max-width: 900px !important;
}
#modal-body .row{
    width: auto;
    margin: 15px auto;
}
#modal-body-lc{
    max-width: 350px;
    min-width: 300px;
    margin: 5px auto;
}
#modal-body-rc{
    max-width: 350px;
    min-width: 300px;
    margin: 5px auto;
}
#row-in-modal .row{
    max-width: 350px;
    min-width: 300px;
    margin: 5px auto;
    float: right;
    display: block;
}
#row-in-modal{
    max-width: 360px;
    float: right;
}

/* ----------- mHD screen ----------- */
@media screen and (min-width: 1600px){
    body{
        font-size: 15px !important;
        font-weight: 400 !important;
        background-color: #FFF;
        color: #555555;
    }
    a{
        font-size: 15px;
    }
    .btn{
        font-size: 14px;
    }
    .form-control{
        font-size: 14px;
    }
    .breadcrumb{
        font-size: 13px;
    }
    .breadcrumb a{
        font-size: 13px;
    }
    .body{
        position: relative;
    }
    .header{
        height: 50px;
        background-color: #2EBD59;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
    }
    .header .brand{
        padding: 0.9rem 15rem;
        color: #FFF;
        display: inline-block;
    }
    .header .user-panel{
        float: right;
        padding: 0.6rem 15rem;
    }
    .header .user-panel a{
        color: #FFF;
    }
    .header .user-panel i{
        margin: 0 0.4rem;
    }
    .feature{
        margin: auto;
        padding: 5rem 15rem;
        width: 100%;
        text-align: center;
    }
    .feature .part{
        max-width: 22%;
        width: 320px;
        height: 150px;
        float: left;
        border: 1px solid #D6D6D6;
        margin: 0.5rem;
        position: relative;
        padding-top: 0.5rem;
        border-radius: 4px;
    }
    .feature .part:hover{
        border: 1px solid #2EBD59;
        box-shadow: 0 0.8rem 1rem #FF457A;
        transform: translateY(-0.3333rem);
    }
    .feature .go{
        width: 101%;
        height: 40px;
        border: 1px solid #2EBD59;
        color: #2EBD59;
        position: absolute;
        bottom: 0;
        padding: 0.5rem 0;
        margin: -1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .feature i{
        color: #FFF;
    }
    .feature .go:hover{
        background-color: #2EBD59;
        color: #FFF;
    }
    .feature i:hover{
        color: #FFF;
    }
    .second-menu{
        margin: auto;
        padding: 0 15rem;
        width: 100%;
        display: inline-block;
    }
    .second-menu .part{
        display: inline-block;
        padding: 0.6rem 0;
    }
    .second-menu .filter{
        display: inline-block;
    }
    .second-menu .right-part{
        float: right;
    }
    .second-menu .nav-link{
        height: 30px;
        padding: 0.25rem 1rem;
    }
    .second-menu a.nav-link.active{
        background-color: #FFDA44;
        color: #555555;
    }
    .second-menu a.nav-link.active:hover{
        color: #555555;
    }
    .second-menu a.nav-link{
        color: #8FBD9D;
    }
    .second-menu a.nav-link:hover{
        color: #2EBD59;
    }
    .announcement{
        padding: 0.5rem 15rem;
    }
    .treasury-table{
        padding: 0 15rem;
    }
    .table-list{
        padding: auto;
    }
    .table-list thead{
        background: #2EBD59;
        color: #FFF;
    }
    .table-list td, th{
        vertical-align: middle;
    }
    .table-list td, th{
        height: 50px;
        padding: 0;
    }
    .table-list th{
        padding-right: 0px;
    }
    .table-list a{
        color: #2EBD59;
    }
    .table-list a.btn.b{
        background-color: #FFF;
        border-color: #2EBD59;
    }
    .table-list a.btn.b:hover{
        background-color: #2EBD59;
        border-color: #2EBD59;
    }
    .split-page{
        padding: 0.5rem 15rem;
        float: right;
    }
    .split-page .page-link{
        color: #2EBD59;
    }
    .split-page .page-item.active .page-link{
        background-color: #FFDA44;
        border-color: #FFDA44;
        color: #555555;
    }
    .footer{
        padding: 0.5rem 15rem;
        margin: 10rem auto 0;
        width: 100%;
    }
    .footer .line{
        border: 1px solid #D6D6D6;
    }
}

/* ----------- Supper large screen ----------- */
@media screen and (min-width: 1366px) and (max-width: 1599px){
    body{
        font-size: 15px !important;
        font-weight: 400 !important;
        background-color: #FFF;
        color: #555555;
    }
    a{
        font-size: 15px;
    }
    .btn{
        font-size: 14px;
    }
    .form-control{
        font-size: 14px;
    }
    .breadcrumb{
        font-size: 13px;
    }
    .breadcrumb a{
        font-size: 13px;
    }
    .body{
        position: relative;
    }
    .header{
        height: 50px;
        background-color: #2EBD59;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
    }
    .header .brand{
        padding: 0.9rem 7rem;
        color: #FFF;
        display: inline-block;
    }
    .header .user-panel{
        float: right;
        padding: 0.6rem 7rem;
    }
    .header .user-panel a{
        color: #FFF;
    }
    .header .user-panel i{
        margin: 0 0.4rem;
    }
    .feature{
        margin: auto;
        padding: 5rem 7rem;
        width: 100%;
        text-align: center;
    }
    .feature .part{
        max-width: 22%;
        width: 320px;
        height: 150px;
        float: left;
        border: 1px solid #D6D6D6;
        margin: 0.5rem;
        position: relative;
        padding-top: 0.5rem;
        border-radius: 4px;
    }
    .feature .part:hover{
        border: 1px solid #2EBD59;
        box-shadow: 0 0.8rem 1rem #FF457A;
        transform: translateY(-0.3333rem);
    }
    .feature .go{
        width: 101%;
        height: 40px;
        border: 1px solid #2EBD59;
        color: #2EBD59;
        position: absolute;
        bottom: 0;
        padding: 0.5rem 0;
        margin: -1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .feature i{
        color: #FFF;
    }
    .feature .go:hover{
        background-color: #2EBD59;
        color: #FFF;
    }
    .feature i:hover{
        color: #FFF;
    }
    .second-menu{
        margin: auto;
        padding: 0 7rem;
        width: 100%;
        display: inline-block;
    }
    .second-menu .part{
        display: inline-block;
        padding: 0.6rem 0;
    }
    .second-menu .filter{
        display: inline-block;
    }
    .second-menu .right-part{
        float: right;
    }
    .second-menu .nav-link{
        height: 30px;
        padding: 0.25rem 1rem;
    }
    .second-menu a.nav-link.active{
        background-color: #FFDA44;
        color: #555555;
    }
    .second-menu a.nav-link.active:hover{
        color: #555555;
    }
    .second-menu a.nav-link{
        color: #8FBD9D;
    }
    .second-menu a.nav-link:hover{
        color: #2EBD59;
    }
    .announcement{
        padding: 0.5rem 7rem;
    }
    .treasury-table{
        padding: 0 7rem;
    }
    .table-list{
        padding: auto;
    }
    .table-list thead{
        background: #2EBD59;
        color: #FFF;
    }
    .table-list td, th{
        vertical-align: middle;
    }
    .table-list td, th{
        height: 50px;
        padding: 0;
    }
    .table-list th{
        padding-right: 0px;
    }
    .table-list a{
        color: #2EBD59;
    }
    .table-list a.btn.b{
        background-color: #FFF;
        border-color: #2EBD59;
    }
    .table-list a.btn.b:hover{
        background-color: #2EBD59;
        border-color: #2EBD59;
    }
    .split-page{
        padding: 0.5rem 7rem;
        float: right;
    }
    .split-page .page-link{
        color: #2EBD59;
    }
    .split-page .page-item.active .page-link{
        background-color: #FFDA44;
        border-color: #FFDA44;
        color: #555555;
    }
    .footer{
        padding: 0.5rem 7rem;
        margin: 10rem auto 0;
        width: 100%;
    }
    .footer .line{
        border: 1px solid #D6D6D6;
    }
}

/* ----------- Popular desktop screen ----------- */
@media screen and (min-width: 768px) and (max-width: 1365px){
    body{
        font-size: 14px !important;
        font-weight: 400 !important;
        background-color: #FFF;
        color: #555555;
    }
    a{
        font-size: 14px;
    }
    .btn{
        font-size: 13px;
    }
    .form-control{
        font-size: 13px;
    }
    .breadcrumb{
        font-size: 12px;
    }
    .breadcrumb a{
        font-size: 12px;
    }
    .body{
        position: relative;
    }
    .header{
        height: 50px;
        background-color: #2EBD59;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
    }
    .header .brand{
        padding: 0.9rem 3rem;
        color: #FFF;
        display: inline-block;
    }
    .header .user-panel{
        float: right;
        padding: 0.6rem 3rem;
    }
    .header .user-panel a{
        color: #FFF;
    }
    .header .user-panel i{
        margin: 0 0.4rem;
    }
    .feature{
        margin: auto;
        padding: 5rem 3rem;
        width: 100%;
        text-align: center;
    }
    .feature .part{
        max-width: 22%;
        width: 320px;
        height: 150px;
        float: left;
        border: 1px solid #D6D6D6;
        margin: 0.5rem;
        position: relative;
        padding-top: 0.5rem;
        border-radius: 4px;
    }
    .feature .part:hover{
        border: 1px solid #2EBD59;
        box-shadow: 0 0.8rem 1rem #FF457A;
        transform: translateY(-0.3333rem);
    }
    .feature .go{
        width: 101%;
        height: 40px;
        border: 1px solid #2EBD59;
        color: #2EBD59;
        position: absolute;
        bottom: 0;
        padding: 0.5rem 0;
        margin: -1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .feature i{
        color: #FFF;
    }
    .feature .go:hover{
        background-color: #2EBD59;
        color: #FFF;
    }
    .feature i:hover{
        color: #FFF;
    }
    .second-menu{
        margin: auto;
        padding: 0 3rem;
        width: 100%;
        display: inline-block;
    }
    .second-menu .part{
        display: inline-block;
        padding: 0.6rem 0;
    }
    .second-menu .filter{
        display: inline-block;
    }
    .second-menu .right-part{
        float: right;
    }
    .second-menu .nav-link{
        height: 30px;
        padding: 0.25rem 1rem;
    }
    .second-menu a.nav-link.active{
        background-color: #FFDA44;
        color: #555555;
    }
    .second-menu a.nav-link.active:hover{
        color: #555555;
    }
    .second-menu a.nav-link{
        color: #8FBD9D;
    }
    .second-menu a.nav-link:hover{
        color: #2EBD59;
    }
    .announcement{
        padding: 0.5rem 3rem;
    }
    .treasury-table{
        padding: 0 3rem;
    }
    .table-list{
        padding: auto;
    }
    .table-list thead{
        background: #2EBD59;
        color: #FFF;
    }
    .table-list td, th{
        vertical-align: middle;
    }
    .table-list td, th{
        height: 50px;
        padding: 0;
    }
    .table-list th{
        padding-right: 0px;
    }
    .table-list a{
        color: #2EBD59;
    }
    .table-list a.btn.b{
        background-color: #FFF;
        border-color: #2EBD59;
    }
    .table-list a.btn.b:hover{
        background-color: #2EBD59;
        border-color: #2EBD59;
    }
    .split-page{
        padding: 0.5rem 3rem;
        float: right;
    }
    .split-page .page-link{
        color: #2EBD59;
    }
    .split-page .page-item.active .page-link{
        background-color: #FFDA44;
        border-color: #FFDA44;
        color: #555555;
    }
    .footer{
        padding: 0.5rem 3rem;
        margin: 10rem auto 0;
        width: 100%;
    }
    .footer .line{
        border: 1px solid #D6D6D6;
    }
}

/* ----------- iphone 6+ đến ipad ----------- */
@media screen and (min-width: 480px) and (max-width: 767px){
    body{
        font-size: 13px !important;
        font-weight: 400 !important;
        background-color: #FFF;
        color: #555555;
    }
    a{
        font-size: 13px;
    }
    .btn{
        font-size: 12px;
    }
    .form-control{
        font-size: 12px;
    }
    .breadcrumb{
        font-size: 11px;
    }
    .breadcrumb a{
        font-size: 11px;
    }
    .body{
        position: relative;
    }
    .header{
        height: 50px;
        background-color: #2EBD59;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
    }
    .header .brand{
        padding: 0.9rem 1.2rem;
        color: #FFF;
        display: inline-block;
    }
    .header .user-panel{
        float: right;
        padding: 0.6rem 1.2rem;
    }
    .header .user-panel a{
        color: #FFF;
    }
    .header .user-panel i{
        margin: 0 0.4rem;
    }
    .feature{
        margin: auto;
        padding: 5rem 1.2rem;
        width: 100%;
        text-align: center;
    }
    .feature .part{
        max-width: 22%;
        width: 320px;
        height: 150px;
        float: left;
        border: 1px solid #D6D6D6;
        margin: 0.5rem;
        position: relative;
        padding-top: 0.5rem;
        border-radius: 4px;
    }
    .feature .part:hover{
        border: 1px solid #2EBD59;
        box-shadow: 0 0.8rem 1rem #FF457A;
        transform: translateY(-0.3333rem);
    }
    .feature .go{
        width: 101%;
        height: 40px;
        border: 1px solid #2EBD59;
        color: #2EBD59;
        position: absolute;
        bottom: 0;
        padding: 0.5rem 0;
        margin: -1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .feature i{
        color: #FFF;
    }
    .feature .go:hover{
        background-color: #2EBD59;
        color: #FFF;
    }
    .feature i:hover{
        color: #FFF;
    }
    .second-menu{
        margin: auto;
        padding: 0 1.2em;
        width: 100%;
        display: inline-block;
    }
    .second-menu .part{
        display: inline-block;
        padding: 0.6rem 0;
    }
    .second-menu .filter{
        display: inline-block;
    }
    .second-menu .right-part{
        float: right;
    }
    .second-menu .nav-link{
        height: 30px;
        padding: 0.25rem 1rem;
    }
    .second-menu a.nav-link.active{
        background-color: #FFDA44;
        color: #555555;
    }
    .second-menu a.nav-link.active:hover{
        color: #555555;
    }
    .second-menu a.nav-link{
        color: #8FBD9D;
    }
    .second-menu a.nav-link:hover{
        color: #2EBD59;
    }
    .announcement{
        padding: 0.5rem 1.2rem;
    }
    .treasury-table{
        padding: 0 1.2rem;
    }
    .table-list{
        padding: auto;
    }
    .table-list thead{
        background: #2EBD59;
        color: #FFF;
    }
    .table-list td, th{
        vertical-align: middle;
    }
    .table-list td, th{
        height: 50px;
        padding: 0;
    }
    .table-list th{
        padding-right: 0px;
    }
    .table-list a{
        color: #2EBD59;
    }
    .table-list a.btn.b{
        background-color: #FFF;
        border-color: #2EBD59;
    }
    .table-list a.btn.b:hover{
        background-color: #2EBD59;
        border-color: #2EBD59;
    }
    .split-page{
        padding: 0.5rem 1.2rem;
        float: right;
    }
    .split-page .page-link{
        color: #2EBD59;
    }
    .split-page .page-item.active .page-link{
        background-color: #FFDA44;
        border-color: #FFDA44;
        color: #555555;
    }
    .footer{
        padding: 0.5rem 1.2rem;
        margin: 10rem auto 0;
        width: 100%;
    }
    .footer .line{
        border: 1px solid #D6D6D6;
    }
}

/* ----------- Nhỏ hơn ip6+ ----------- */
@media screen and (max-width: 479px){
    body{
        font-size: 13px !important;
        font-weight: 400 !important;
        background-color: #FFF;
        color: #555555;
    }
    a{
        font-size: 13px;
    }
    .btn{
        font-size: 12px;
    }
    .form-control{
        font-size: 12px;
    }
    .breadcrumb{
        font-size: 11px;
    }
    .breadcrumb a{
        font-size: 11px;
    }
    .body{
        position: relative;
    }
    .header{
        height: 50px;
        background-color: #2EBD59;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
    }
    .header .brand{
        padding: 0.9rem .6rem;
        color: #FFF;
        display: inline-block;
    }
    .header .user-panel{
        float: right;
        padding: 0.6rem .6rem;
    }
    .header .user-panel a{
        color: #FFF;
    }
    .header .user-panel i{
        margin: 0 0.4rem;
    }
    .feature{
        margin: auto;
        padding: 5rem .6rem;
        width: 100%;
        text-align: center;
    }
    .feature .part{
        max-width: 22%;
        width: 320px;
        height: 150px;
        float: left;
        border: 1px solid #D6D6D6;
        margin: 0.5rem;
        position: relative;
        padding-top: 0.5rem;
        border-radius: 4px;
    }
    .feature .part:hover{
        border: 1px solid #2EBD59;
        box-shadow: 0 0.8rem 1rem #FF457A;
        transform: translateY(-0.3333rem);
    }
    .feature .go{
        width: 101%;
        height: 40px;
        border: 1px solid #2EBD59;
        color: #2EBD59;
        position: absolute;
        bottom: 0;
        padding: 0.5rem 0;
        margin: -1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .feature i{
        color: #FFF;
    }
    .feature .go:hover{
        background-color: #2EBD59;
        color: #FFF;
    }
    .feature i:hover{
        color: #FFF;
    }
    .second-menu{
        margin: auto;
        padding: 0 .6rem;
        width: 100%;
        display: inline-block;
    }
    .second-menu .part{
        display: inline-block;
        padding: 0.6rem 0;
    }
    .second-menu .filter{
        display: inline-block;
    }
    .second-menu .right-part{
        float: right;
    }
    .second-menu .nav-link{
        height: 30px;
        padding: 0.25rem 1rem;
    }
    .second-menu a.nav-link.active{
        background-color: #FFDA44;
        color: #555555;
    }
    .second-menu a.nav-link.active:hover{
        color: #555555;
    }
    .second-menu a.nav-link{
        color: #8FBD9D;
    }
    .second-menu a.nav-link:hover{
        color: #2EBD59;
    }
    .announcement{
        padding: 0.5rem .6rem;
    }
    .treasury-table{
        padding: 0 .6rem;
    }
    .table-list{
        padding: auto;
    }
    .table-list thead{
        background: #2EBD59;
        color: #FFF;
    }
    .table-list td, th{
        vertical-align: middle;
    }
    .table-list td, th{
        height: 50px;
        padding: 0;
    }
    .table-list th{
        padding-right: 0px;
    }
    .table-list a{
        color: #2EBD59;
    }
    .table-list a.btn.b{
        background-color: #FFF;
        border-color: #2EBD59;
    }
    .table-list a.btn.b:hover{
        background-color: #2EBD59;
        border-color: #2EBD59;
    }
    .split-page{
        padding: 0.5rem .6rem;
        float: right;
    }
    .split-page .page-link{
        color: #2EBD59;
    }
    .split-page .page-item.active .page-link{
        background-color: #FFDA44;
        border-color: #FFDA44;
        color: #555555;
    }
    .footer{
        padding: 0.5rem .6rem;
        margin: 10rem auto 0;
        width: 100%;
    }
    .footer .line{
        border: 1px solid #D6D6D6;
    }
}

/* End */

.messenger-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 50;
    background-image: url(assets/img/shield.svg);
}
.messenger-button a{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: #FFF;
    background-image: url(assets/img/shield.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    -webkit-animation: copy-di-ban-oi 2000ms infinite;
    -moz-animation: roi-khi-lam-du-an-lon 2000ms infinite;
    -o-animation: nho-lien-he-team-minh 2000ms infinite;
    animation: lam-chung 2000ms infinite;
    z-index: 1000;
}

@-webkit-keyframes copy-di-ban-oi{
    0%{
        background-color: #004A7F;
        -webkit-box-shadow: 0 0 3px #004A7F;
    }

    50%{
        background-color: #0094FF;
        -webkit-box-shadow: 0 0 10px #0094FF;
    }

    100%{
        background-color: #004A7F;
        -webkit-box-shadow: 0 0 3px #004A7F;
    }
}

@-moz-keyframes roi-khi-lam-du-an-lon{
    0%{
        background-color: #004A7F;
        -moz-box-shadow: 0 0 3px #004A7F;
    }

    50%{
        background-color: #0094FF;
        -moz-box-shadow: 0 0 10px #0094FF;
    }

    100%{
        background-color: #004A7F;
        -moz-box-shadow: 0 0 3px #004A7F;
    }
}

@-o-keyframes nho-lien-he-team-minh{
    0%{
        background-color: #004A7F;
        box-shadow: 0 0 3px #004A7F;
    }

    50%{
        background-color: #0094FF;
        box-shadow: 0 0 10px #0094FF;
    }

    100%{
        background-color: #004A7F;
        box-shadow: 0 0 3px #004A7F;
    }
}
@keyframes lam-chung{
    0%{
        background-color: #2196F3; /*#004A7F;*/
        box-shadow: 0 0 3px #2196F3; /*#004A7F;*/
    }

    50%{
        background-color: #0094FF;
        box-shadow: 0 0 30px #0094FF;
    }

    100%{
        background-color: #2196F3; /*#004A7F;*/
        box-shadow: 0 0 3px #2196F3; /*#004A7F;*/
    }
}
/* End */
































