<!DOCTYPE html>
<html>
    <!-- Are you our competitor? Contact me to corperate-->
    <!-- Bạn là đối thủ cạnh tranh của chúng tôi, đừng ngần ngại liên hệ hợp tác: 0902 886 862 ^^ -->
    <head lang="vi,en">
        <!-- Meta tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
        <meta name="Description" content="...">
        <meta name="keywords" content="...">
        <meta name="google-site-verification" content="..." />
        <meta name="robots" content="index,nofollow">
        <meta name="googlebot" content="index,follow" />
        <meta name="canonical" content="">
        <title>Cloud Dental ERP v1.0.1 (2018) - Login pannel</title>
        <!--/.Meta tag -->
        <!-- Chèn thêm một đoạn code dữ liệu có cấu trúc nữa ở đây -->
        <!--/.Structure data -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/catchme.css">
    </head>
    <body class="body">
        <!-- Xem như đã bỏ qua màn hình đăng nhập -->
        <div class="header">
            <div class="brand">Cloud Dental ERP<sup> 2018 (Pro)</sup></sub></div>
            <div class="user-panel">
                    <a href="#email"><i class="fa fa-envelope"></i></a>
                    <a href="#messenger"><i class="fa fa-telegram"></i></a>
                    <a href="#notification"><i class="fa fa-bell"></i></a>
                    <a href="#user" style="margin-left: 1rem">
                        <img src="assets/img/avatar.svg" class="img-md" style="margin: 0;"> Nguyễn T Phương Thảo
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <!-- <a href="#user" style="margin-left: 1rem">
                        <img src="assets/img/avatar.svg" class="img-sm" style="margin: 0;">
                    </a> -->
            </div>
        </div>
        <div class="clear"></div>
        <div class="feature">
            <a href="#">
                <div class="part">
                    <img src="assets/img/service.svg" class="img-lg-center">
                    <div class="go">Services <i class="fa fa-angle-double-right"></i></div>
                </div>
            </a>
            <a href="#">
                <div class="part">
                    <img src="assets/img/shopping-bag.svg" class="img-lg-center">
                    <div class="go">Products <i class="fa fa-angle-double-right"></i></div>
                </div>
            </a>
            <a href="#">
                <div class="part">
                    <img src="assets/img/changing-money.svg" class="img-lg-center">
                    <div class="go">Cash Book <i class="fa fa-angle-double-right"></i></div>
                </div>
            </a>
            <a href="#">
                <div class="part">
                    <img src="assets/img/call-centre.svg" class="img-lg-center">
                    <div class="go">Customer Service <i class="fa fa-angle-double-right"></i></div>
                </div>
            </a>
        </div>
        <div class="feature">
            <a href="#">
                <div class="part">
                    <img src="assets/img/procurement.svg" class="img-lg-center">
                    <div class="go">Procurement <i class="fa fa-angle-double-right"></i></div>
                </div>
            </a>
            <a href="#">
                <div class="part">
                    <img src="assets/img/hat-and-magic-wand.svg" class="img-lg-center de-active" onmouseover="this.src='assets/img/wrapped-candy.svg';" onmouseout="this.src='assets/img/hat-and-magic-wand.svg';" />
                    <div class="go">Marketing <i class="fa fa-angle-double-right"></i></div>
                </div>
            </a>
            <a href="#">
                <div class="part">
                    <img src="assets/img/networking.svg" class="img-lg-center">
                    <div class="go">Human Resource <i class="fa fa-angle-double-right"></i></div>
                </div>
            </a>
            <a href="#">
                <div class="part">
                    <img src="assets/img/settings-gears.svg" class="img-lg-center">
                    <div class="go">Operation <i class="fa fa-angle-double-right"></i></div>
                </div>
            </a>
        </div>
        <div class="clear"></div>
        <div class="footer">
            <div></div>
        </div>


    <!-- <div class="messenger-button">
        <a href="https://m.me/eragon.hoangducthinh" target="_blank"></a>
    </div> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <!-- <script src="js/fb-comments.js"></script> -->
    <script src="https://use.fontawesome.com/8acd7bac45.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </body>
</html>