<!DOCTYPE html>
<html>
    <!-- Are you our competitor? Contact me to corperate-->
    <!-- Bạn là đối thủ cạnh tranh của chúng tôi, đừng ngần ngại liên hệ hợp tác: 0902 886 862 ^^ -->
    <head lang="vi,en">
        <!-- Meta tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
        <meta name="Description" content="Quản lý phòng khám nha khoa: Bệnh án điện tử, lịch hẹn thông minh, công nợ. Đặc biệt, tìm kiếm khách hàng tự động ngay cả khi bạn đang ngủ!">
        <meta name="keywords" content="phần mềm quản lý nha khoa, quan ly phong kham, dental crm, cloud dental crm 2018, phòng khám nha khoa">
        <meta name="google-site-verification" content="snyJf5QySb4tFfA_0Qz8kbCjFOqL2y6rZfZ0Mk-kRQY" />
        <meta name="robots" content="index,nofollow">
        <meta name="googlebot" content="index,follow" />
        <meta name="canonical" content="http://clouddentalcrm.com">
        <title>Phần mềm quản lý nha khoa Cloud Dental CRM v1.0.3 (2018)</title>
        <!--/.Meta tag -->
        <!-- Chèn thêm một đoạn code dữ liệu có cấu trúc nữa ở đây -->
        <!--/.Structure data -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="cdcrm-style.css">
    </head>
    <body class="bd-homepage">
        <header class="header">
            <div class="container">
                <div>
                    <a href="http://clouddentalcrm.com" style="color: #FFF;"><strong>Cloud Dental CRM</strong></a>
                    <span style="color: #FFF; font-size: 9px;">Việt Nam</span>
                    <a class="btn btn-ct-green login-button" href="http://app.clouddentalcrm.com" target="_blank">Đăng nhập</a>
                    <a href="tel:+84902886862"> <img src="a/img/phone.gif" class="img-sm call-top"></a>
                </div>
            </div>
        </header>
    </body>
</html>